<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章详情</title>
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="register_login.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

    <style>
        #main{
            margin: 100px 200px;
        }
        h4{
            margin:20px 0px;
        }
        hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1.5px solid #eee;
            margin-right: 400px;
        }
        #left{
            float: left;
            margin-left: 130px;
        }

        #like{
            float: right;
            margin-right: 230px;
        }
        #buttons{
            float:right;
            margin-right:260px;
        }
        #buttons button{
            margin:20px
        }
    </style>
</head>
<body>
    <div id="wrapper" style="background-image: none;">
    
    <div id="header">
            
        <div class="container">
            <h1 style="display: inline;">顶会论文爬取平台</h1>
            <button id="login_btn" type="button" class="btn btn-default">登录</button>
            <div class="row" style="float: right;">
                <div class="span6">
                    <ul class="nav nav-tabs">
                        <li><a href="index.html">&nbsp;首&nbsp;&nbsp;页&nbsp;</a></li>
                        <li><a @click="doIt" href="add_articles.html">爬取论文</a></li>
                        <li class="active"><a href="article.html">论文列表</a></li>
                        <li><a href="hotwords_graph.html">热词分析</a></li>
                        <li><a href="personal_page.html">个人中心</a></li>
                    </ul>
                </div>
                
            </div>
           
        </div>
            
    </div>

    <div id="article">
        <img id="left" alt="" src="icon_left.png" @click="back">
        <img id="like" alt="" src="icon_like.png">
            
        <div id="main">
            <h3>
               {{ title }}</h3>
    
                <h4>关键词：{{ keyword }}</h4>
    
                <hr />
                <h4>摘要：</h4>
                {{ abstract }}

                <h4>原文链接：</h4>{{ href }}

        </div>

        <div id="buttons">
            <button type="button" @click="showDetail" class="btn btn-default">修改</button>
            <button type="button" @click="deleteArticle" class="btn btn-default">删除</button>

        </div>
    </div>


    </div>


    <script>
        var app = new Vue({
            el:"#wrapper",

             /*  numberid	是	string	论文id号
            title	是	string	论文标题
            keyword	是	string	论文关键词
            abstract	否	string	论文摘要
            datetime	否	time	论文时间
            href	否	string	论文链接
            classify	否	string	论文分类  */

            data:{
                message:"请先登录",
                phone:'',
                password:'',
                numberid:'28',
                title:'标题',
                keyword:'关键词',
                abstract:'摘要',
                href:'链接'
            },
            mounted(){
                this.showDetail();
            },
            methods: {
            doIt:function(){
                alert("请先登录");
            },
            signIn:function(){
                window.location.href="login.html";
            },
            deleteArticle:function(){
                var that = this;

                axios
                .post('http://127.0.0.1:5000/paper/delete/'+this.numberid)
                .then(function (response) {
                    console.log(response.data);
                    window.location.href="article.html";
                })
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            },
            showDetail:function(){
               var that = this;
               //alert(this.phone);
                //alert(this.password);


                axios
                .get('http://127.0.0.1:5000/paper/'+this.numberid)
                .then(function (response) {
                    console.log(response.data);
                    article = response.data;
                    that.title = article.title;
                    that.keyword = article.keyword;
                    console.log(article.keyword);
                    that.abstract = article.abstract;
                    that.href = article.href;
                })               
                .catch(function (error) { // 请求失败处理
                    console.log(error);
                });
            },
            back:function(){
                window.location.href = "article.html";
            }
            
            }
        })
       
    </script>
</body>
</html>