<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章详情</title>
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="https://code.jquery.com/jquery.js"></script>

      <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
      <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    

    <link rel="stylesheet" type="text/css" href="register_login.css">

    <style>


        #main{
           margin: 100px 0;
            
        }


      #graph{
            /* border-color: gray;
            border-width: 1px;
            border-style: solid; */
            background-color:rgba(ee,ee,ee,50);
            margin-top: 10px;


        }  

    
      #echart{
          margin-left: 300px;
      }  
      #main a{
          font-size: large;
          margin:10px;
      }
      #dropdown{
          margin-left: 100px;
      }
      /* #graph h4{
          margin-left: 50px;
          margin-top: 40px;
      } */
      /* #echart{
          float:left;
      } */
      canvas{
          float:left;
      }
      #jump{
          margin-left: 300px;
      }
    </style>
</head>
<body>
    <div id="wrapper" style="background-image: none;">
    
        <div id="header">
                
            <div class="container">
                <h1 style="display: inline;">顶会论文爬取平台</h1>
                <button id="login_btn" type="button" class="btn btn-default">登录</button>
                <div class="row" style="float: right;">
                    <div class="span6">
                        <ul class="nav nav-tabs">

                            <li><a href="index.html">&nbsp;首&nbsp;&nbsp;页&nbsp;</a></li>
                            <li><a @click="doIt" href="add_articles.html">爬取论文</a></li>
                            <li><a href="article.html">论文列表</a></li>
                            <li class="active"><a href="hotwords_graph.html">热词分析</a></li>
                            <li><a href="personal_page.html">个人中心</a></li>

                        </ul>
                    </div>
                    
                </div>
            
            </div>
                
        </div>

        <!-- <div id="main">-->
            <div id="main">
                <div id="jump">
                    <a href="hotwords_graph.html">词谱图</a>
                    <a href="hotwords_analyze.html">热词分析</a> 
                </div>
            <!-- <div id="graph"> -->

                <!-- <h4><strong>检索查看近5年词谱图</strong></h4>
             
        
                <div class="dropdown" id="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ message }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
                    >
                        <li><a href="#" @click="showValue($event)">2021</a></li>
                        <li><a href="#" @click="showValue($event)">2015-2020</a></li>
                        <li><a href="#"@click="showValue($event)">2010-2015</a></li>
                    </ul>
                </div>         -->
                      

                <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                
                  
            <!-- </div> -->
        <!-- </div> -->
        
        <div id="graph">
        <div id="echart" style="width: 1000px;height:400px;"></div>
        </div>
    </div>
    

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
         var app = new Vue({
          el:"#main",
          data:{
              message:"2021",
              data:[],
              hotwords:[
                            {value: 1048, name: '搜索引擎'},
                            {value: 735, name: '直接访问'},
                            {value: 580, name: '邮件营销'},
                            {value: 484, name: '联盟广告'},
                            {value: 300, name: '视频广告'}
                        ],
          },
          mounted(){
            this.initChart();
          },
          methods: {

          showValue(event){
              var e = event.currentTarget;
              msg = e.innerHTML;
              
              this.message = msg;
          },
          initChart:function(){
            var that = this;
            console.log('现在输出that.hotwords');
            console.log(that.hotwords); 

            axios
            .post('http://127.0.0.1:5000/keyword')
            .then(function (response) {
                console.log('hihi');
                console.log(response.data.data.data);
                that.hotwords = response.data.data.data;
                console.log('现在输出that.hotwords');
                console.log(that.hotwords);
                that.drawChart();
            })
            .catch(function (error) { // 请求失败处理
                console.log(error);
            });
            console.log('现在输出that.hotwords');
            console.log(that.hotwords);
        },
        drawChart:function(){
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('echart'));

            myChart.setOption({
                
            
                title: {
                    text: '论文关键词统计',
                    subtext: '供参考',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: '50%',
                        data: this.hotwords,
                        // data: [
                        //     {value: 1048, name: '搜索引擎'},
                        //     {value: 735, name: '直接访问'},
                        //     {value: 580, name: '邮件营销'},
                        //     {value: 484, name: '联盟广告'},
                        //     {value: 300, name: '视频广告'}
                        // ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]


            })

            var that = this;
            myChart.on('click',function(param){

                var name = param.data.name;
                localStorage.setItem('keyword', name);

               
                window.location.href = "article.html";
            })
          }

      }
      })
    </script>

<script type="text/javascript">

</script>

</body>
</html>