<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="register_login.css">
</head>
<body>
    <div id="wrapper">
    
        <div id="header">
            
            <div class="container">
                <h1 style="display: inline;">顶会论文爬取平台</h1>
                <button id="login_btn" v-show="isLogin==0" @click="signIn()" type="button" class="btn btn-default">登录</button>
                <button id="logout_btn" v-show="isLogin==1" @click="signOut()" type="button" class="btn btn-default">退出登录</button>
           
                <div class="row" style="float: right;">
                    <div class="span6">
                        <ul class="nav nav-tabs">
                            
                            <li><a href="index.html">&nbsp;首&nbsp;&nbsp;页&nbsp;</a></li>
                            <li><a href="add_articles.html">爬取论文</a></li>
                            <li><a href="article.html">论文列表</a></li>
                            <li><a href="hotwords_graph.html">热词分析</a></li>
                            <li><a href="personal_page.html">个人中心</a></li>
        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="nav">
            
        </div>
        <div id="main">
            <div id="login_form">
            <form class="form-inline">
                <div class="form-group">
                <h1 style="text-align: center;margin-bottom: 20px;"><strong>用户登录</strong></h2>
                <label for="phone" style="display: inline;">&nbsp; 用户名&nbsp;  </label>
                <input type="text" v-model="phone" class="form-control" name="phone" placeholder="请输入您的手机号"><br>
                <label for="pwd">&nbsp; 密&nbsp; &nbsp; 码&nbsp;  </label>
                <input type="password" v-model="password" class="form-control" name="pwd_again" placeholder="请再次输入您的密码"/>
                <br />
                <a href="register.html">还没有账号？注册一个</a>
                
                <button type="button" @click="startLogin()" class="btn btn-primary btn-lg btn-block">&nbsp;登&nbsp; &nbsp; 录&nbsp;</button>
                
            </div>
            </form>
            
        </div>
        </div>

        <div id="footer">
            
        </div>

    </div>
    

  
      <script>
        var app = new Vue({
            el:"#wrapper",
            data:{
                message:"请先登录",
                phone:'',
                password:'',
                isLogin:1,

            },
            mounted(){
                this.isLogin = 0;
                //alert('hi');
               // this.judgeLogin();
            },
            methods: {
            doIt:function(){
                alert("请先登录");
            },
            signIn:function(){
                window.location.href="login.html";
            },
            signOut:function(){
                this.isLogin = 0;
            },
            startLogin:function(){
                this.isLogin = 1;

                /* axios
                 .post('http://127.0.0.1:5000/user/login',
                 {
                     telephone: this.phone,        // 参数 telephone
                     password: this.password,    // 参数 password
                 })
                 .then(function (response) {
                    // alert('登陆成功！');
                    //console.log(response);
                    console.log(response.data.status);
                    status = response.data.status;
                    if(status==0) //console.log('登陆成功');
                    window.location.href="article.html";
                    else if(status==1) console.log('用户不存在');
                    else console.log('密码错误');
                 })
                 .catch(function (error) { // 请求失败处理
                     console.log(error);
                 });*/
  
            },
            judgeLogin:function(){
                //this.isLogin = 1;
            },
            
            }
        })
    </script>
    </body>

    
</html>