*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}

#wrapper{
    width: 100%;
    height: 100%;
    background-image: url(
        https://passport.baidu.com/static/passpc-account/img/reg_bg_min.jpg
        );
    background-repeat: no-repeat;
    
    background-size: cover;
}
#main{
    width:100%;
    height: 80%;        
}
#header{
    width:100%;
    padding: 15px;
    background-color: white;
    box-sizing: border-box;
    border-color: gray;
    border-style:solid;
    border-width:1px;
   
}
#register_form,#login_form{
    border:0.2px solid;
    border-radius:25px;
    opacity:0.95;
    padding: 100px;
    border-color: gray;
    float: right;
    margin-top: 100px;
    margin-right: 150px;
    display: inline;
    background-color: white;
    width: 500px;
    text-align: center;
}

#main_icon{
    width: 60px;
    height: 60px;
}

.nav>li>a{
    font-size: 22px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

input{
    margin: 10px;
}

button{
    margin: 20px 0px;
}

#login_btn,#logout_btn{
    font-size: 22px;
    float: right;
    margin-left: 30px;
    margin-top: 6px;
}

