<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>论文查询系统</title>
    <link href="__CSS__/registration_interface.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/currency.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="topNav">
        <p>论文查询系统</p>
        <a href="#"> </a>
        <a href="/PairProject/221801409&221801418/public/index/RegistrationInterface"> 注册</a>
        <a href="/PairProject/221801409&221801418/public/index/LoginInterface"> 登录</a>
    </div>
    <div class="content">
        <div class="welcomeArea">
            <p>注册一个新的账号!</p>
        </div>
        <div class="RegistrationArea">
            <form method="post" class="form" action="/PairProject/221801409&221801418/public/index/RegistrationInterface/register">
                <label>用户名：</label>
                <input type="text" class="text" name="name" placeholder="请设置您的账号用户名"><br/>
                <label>账  号：</label>
                <input type="text" class="text" name="account" placeholder="请设置您的登录账号"><br/>
                <label>密  码：</label>
                <input type="text" class="text" name="password" placeholder="请设置您的登录密码"><br/>
                <input id="register"type="submit" class="btn" value=" 注册  ">
            </form>
        </div>
    </div>
</body>
</html>