<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.g.forms.cn/icon?family=Material+Icons">
    <link rel="stylesheet" href={{url_for("static",filename="css/header.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="css/index.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="css/search.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="css/keywords.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="css/carousel.css" )}}>
    <script src={{url_for("static",filename="js/carousel.js" )}}></script>
    <script src="https://kit.fontawesome.com/cdc72c83b6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <title>Carousel</title>
</head>

<body>
    <div class="container">
        <header>
            <nav class="navigater">
                <div class="logo">
                    <img src={{url_for("static",filename="images/favicon.png" )}} alt="logo" class="image" />
                    <h3 class="title">iPaper</h3>
                </div>
                <ul class="menu">
                    <li class="nav-item"><a href={{url_for("index_logined")}} class="nav-href">Home</a></li>
                    <li class="nav-item"><a href={{url_for("search_view")}} class="nav-href active">Search</a></li>
                    <li class="nav-item"><a href={{url_for("contact_view")}} class="nav-href">Contact</a></li>
                    <li class="nav-item"> <a href={{url_for("logout")}} class="nav-href">Sign out</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="nav-left">
                <ul class="anothor-menu">
                    <li class="menu-item"><a href={{url_for("search_view")}} class="nav-href"><i class="fa fa-list"
                                aria-hidden="true"></i> <span class="nav-title">论文检索</span></a></li>
                    <li class="menu-item"><a href={{url_for("hot_keywords_cake")}} class="nav-href"><i
                                class="fa fa-heart" aria-hidden="true"></i> <span class="nav-title">热词速递</span></a></li>
                    <li class="menu-item"><a href={{url_for("hot_keywords_trend")}} class="nav-href"><i
                                class="fa fa-line-chart" aria-hidden="true"></i> <span class="nav-title">热词走势</span></a>
                    </li>
                    <li class="menu-item"><a href={{url_for("carousel")}} class="nav-href active"><i
                                class="fa fa-picture-o" aria-hidden="true"></i><span class="nav-title">近日热点</span></a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div id="box" class="all">
                    <div class="inner">
                        <ul class="carousel">
                            <li><img src={{url_for("static",filename="images/pic1.png" )}} alt="picture" class="picture"></li>
                            <li><img src={{url_for("static",filename="images/pic2.png" )}} alt="picture" class="picture"></li>
                            <li><img src={{url_for("static",filename="images/pic3.png" )}} alt="picture" class="picture"></li>
                        </ul>
                        <ol></ol>
                    </div>
                    <div class="focusD" id="arr">
                        <span id="left">&lt</span>
                        <span id="right">&gt</span>
                    </div>
                </div>

            </div>
        </main>
    </div>
</body>

</html>