<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.g.forms.cn/icon?family=Material+Icons">
    <link rel="stylesheet" href={{url_for("static",filename="css/header.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="css/index.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="css/search.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="css/keywords.css" )}}>
    <script src="https://kit.fontawesome.com/cdc72c83b6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <title>Key Words Trend</title>
</head>

<body>
    <div class="container">
        <header>
            <nav class="navigater">
                <div class="logo">
                    <img src={{url_for("static",filename="images/favicon.png" )}} alt="logo" class="image" />
                    <h3 class="title">iPaper</h3>
                </div>
                <ul class="menu">
                    <li class="nav-item"><a href={{url_for("index_logined")}} class="nav-href">Home</a></li>
                    <li class="nav-item"><a href={{url_for("search_view")}} class="nav-href active">Search</a></li>
                    <li class="nav-item"><a href={{url_for("contact_view")}} class="nav-href">Contact</a></li>
                    <li class="nav-item"> <a href={{url_for("logout")}} class="nav-href">Sign out</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="nav-left">
                <ul class="anothor-menu">
                    <li class="menu-item"><a href={{url_for("search_view")}} class="nav-href"><i class="fa fa-list"
                                aria-hidden="true"></i> <span class="nav-title">论文检索</span></a></li>
                    <li class="menu-item"><a href={{url_for("hot_keywords_cake")}} class="nav-href"><i
                                class="fa fa-heart" aria-hidden="true"></i> <span class="nav-title">热词速递</span></a></li>
                    <li class="menu-item"><a href={{url_for("hot_keywords_trend")}} class="nav-href active"><i
                                class="fa fa-line-chart" aria-hidden="true"></i> <span class="nav-title">热词走势</span></a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="key-btn">
                    <select id="myselect">
                    </select>
                    <button class="mdc-button mdc-button--raised" id="key">点击获取所选热词走势</button>
                </div>
                <div id="main"></div>
                <script type="text/javascript">
                    $.ajax({
                        url: '/get_trend',
                        type: 'get',
                        cache: false,
                        dataType: 'json',
                        success: function (data) {
                            //console.log(data.data);
                            var myselect = $("#myselect");
                            var mydata = data.data
                            var str = '';
                            $.each(mydata, function (index, item) {
                                console.log(item.keyword);
                                console.log(index);
                                str += '<option value="' + index + '">' + item.keyword + '</option>';
                                //console.log(str);
                            })
                            myselect.append(str);
                            $("#myselect").change(function () {
                                var options = $("#myselect option:selected");
                                console.log(options.val());
                                console.log(options.text());
                            });
                        }
                    });
                    // var options = $("#myselect option:selected");
                    // console.log(options.val());
                    // console.log(options.text());
                    // // var myChart = echarts.init(document.getElementById('main'));
                    // // 显示标题，图例和空的坐标轴
                    // myChart.setOption({
                    //     title: {
                    //         text: '热词十年走势'
                    //     },
                    //     tooltip: {
                    //         trigger: 'axis'
                    //     },
                    //     legend: {
                    //         data: ['CVPR', 'ECCV', 'ICCV']
                    //     },
                    //     toolbox: {
                    //         show: true,
                    //         feature: {
                    //             mark: { show: true },
                    //             dataView: { show: true, readOnly: false },
                    //             magicType: { show: true, type: ['line', 'bar'] },
                    //             restore: { show: true },
                    //             saveAsImage: { show: true }
                    //         }
                    //     },
                    //     calculable: true,
                    //     xAxis: {
                    //         type: 'Year',
                    //         boundaryGap: false, //取消左侧的间距
                    //         data: []
                    //     },
                    //     yAxis: {
                    //         type: 'value',
                    //         splitLine: { show: false },//去除网格线
                    //         name: ''
                    //     },
                    //     series: [{
                    //         name: 'CVPR',
                    //         type: 'line',
                    //         symbol: 'emptydiamond',    //设置折线图中表示每个坐标点的符号 emptycircle：空心圆；emptyrect：空心矩形；circle：实心圆；emptydiamond：菱形
                    //         data: []
                    //     },
                    //     {
                    //         name: 'ECCV',
                    //         type: 'line',
                    //         symbol: 'emptydiamond',    //设置折线图中表示每个坐标点的符号 emptycircle：空心圆；emptyrect：空心矩形；circle：实心圆；emptydiamond：菱形
                    //         data: []
                    //     },
                    //     {
                    //         name: 'ICCV',
                    //         type: 'line',
                    //         symbol: 'emptydiamond',    //设置折线图中表示每个坐标点的符号 emptycircle：空心圆；emptyrect：空心矩形；circle：实心圆；emptydiamond：菱形
                    //         data: []
                    //     }]
                    // });
                    // myChart.showLoading();    //数据加载完之前先显示一段简单的loading动画
                    // var year = [];    //类别数组（实际用来盛放X轴坐标值）    
                    // var series1 = [];
                    // var series2 = [];
                    // var series3 = [];
                    // $.ajax({
                    //     type: 'get',
                    //     url: '/get_trend',//请求数据的地址
                    //     dataType: "json",        //返回数据形式为json
                    //     cache: false,
                    //     success: function (data) {
                    //         //请求成功时执行该函数内容，result即为服务器返回的json对象           
                    //         // $.each(result.jinJian, function (index, item) {
                    //         //     names.push(item.AREA);    //挨个取出类别并填入类别数组
                    //         //     series1.push(item.LANDNUM);
                    //         // });
                    //         // $.each(result.banJie, function (index, item) {
                    //         //     series2.push(item.LANDNUM);
                    //         // });
                    //         // myChart.hideLoading();    //隐藏加载动画
                    //         // myChart.setOption({        //加载数据图表
                    //         //     xAxis: {
                    //         //         data: names
                    //         //     },
                    //         //     series: [{
                    //         //         data: series1
                    //         //     },
                    //         //     {
                    //         //         data: series2
                    //         //     }]
                    //         // });
                    //     },
                    //     error: function (errorMsg) {
                    //         //请求失败时执行该函数
                    //         alert("图表请求数据失败!");
                    //         myChart.hideLoading();
                    //     }
                    // });
                    // loadTwoLine();
                    // $("#key").click(function () {
                    //     var myChart = echarts.init(document.getElementById('main'));
                    //     // 显示标题，图例和空的坐标轴
                    //     myChart.setOption({

                    //         tooltip: {
                    //             trigger: 'item',
                    //             formatter: "{b}:{c}({d}%)"
                    //         },
                    //         series: [{
                    //             name: '次数',
                    //             type: 'pie',
                    //             radius: '55%',
                    //             label: {
                    //                 normal: {
                    //                     show: true,
                    //                     formatter: "{b}:{c}({d}%)"
                    //                 }

                    //             },
                    //             data: []
                    //         }]
                    //     });

                    //     // 异步加载数据
                    //     $.get('/get_cake').done(function (data) {
                    //         // 填入数据
                    //         var words = [];
                    //         var times = [];
                    //         var content = [];
                    //         console.log(data)
                    //         console.log(data.data)
                    //         $.each(data.data, function (index, item) {
                    //             console.log(item.keyword);
                    //             console.log(item.total);
                    //             content.push({
                    //                 value: item.total,
                    //                 name: item.keyword
                    //             })
                    //             // words.push(item.keyword);
                    //             // times.push(item.total);
                    //         })
                    //         myChart.setOption({
                    //             series: [{
                    //                 // 根据名字对应到相应的系列
                    //                 name: '次数',
                    //                 data: content
                    //             }]
                    //         });
                    //     });
                    // })
                </script>
            </div>
        </main>
    </div>
</body>

</html>