<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.g.forms.cn/icon?family=Material+Icons">
    <link rel="stylesheet" href={{url_for("static",filename="css/header.css" )}}>
    <link rel="stylesheet" href={{url_for("static",filename="css/login.css" )}}>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <title>Sign up</title>
</head>

<body>
    <div class="container">
        <header>
            <nav class="navigater">
                <div class="logo">
                    <img src={{url_for("static",filename="images/favicon.png" )}} alt="logo" class="image" />
                    <h3 class="title">iPaper</h3>
                </div>
                <ul class=" menu">
                    <li class="nav-item"><a href={{url_for("index")}} class="nav-href">Home</a></li>
                    <li class="nav-item"><a href={{url_for("search_view")}} class="nav-href">Search</a></li>
                    <li class="nav-item"><a href="./contact.html" class="nav-href">Contact</a></li>
                    <!-- <li class="nav-item"><a href="{{url_for("hot_keywords_view")}}" class="nav-href">热词</a></li> -->
                    <li class="nav-item"><a href={{url_for("login_view")}} class="nav-href">Sign in</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="main-top">
                <h3 class="login-title">Sign up</h3>
                <p class="main-para">Fill out the form below to sign up for iPaper. Already signed up? Then just Sign in
                </p>
            </div>
            <form method="POST" action="/register">
                <fieldset class="login-form">
                    <input type="text" id="email" placeholder="请输入邮箱账号" class="form-item">
                    <input type="password" id="password" placeholder="请输入密码" class="form-item"><br />
                    <button class="mdc-button mdc-button--raised form-btn" id="register">Sign up</button>
                </fieldset>
            </form>
        </main>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script>
        $("#register").click(function () {
            var email=$("#email").val();
            var password=$("#password").val();
            $.ajax({
                data: { 'email': email, 'password': password},
                url: '/register',
                type: 'post',
                cache: false,
                dataType: 'json',
                async: false,
                success: function (data) {
                    alert(data.message);
                    console.log(data);
                }
            })
        })
    </script>
</body>

</html>