<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>searchEssay</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/table.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}" media="all">
</head>
<body>

    <div>
        <div>
            <div th:replace="~{html/header::header}"></div>
        </div>
        <div>
            <div th:replace="~{html/sidebar::sidebar}"></div>
        </div>
        <div class="table">
            <table class="layui-table search" lay-even lay-skin="nob" >
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="50">
                    <col width="50">
                </colgroup>
                <thead>
                <tr>
                    <th>标题</th>
                    <th>摘要</th>
                    <th>关键词</th>
                    <th>会议</th>
                    <th>年份</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="search_item">3-D Motion and Structure from 2-D Motion Causally Integrated over Time: Implementation</td>
                    <td class="search_item">The causal estimation of three-dimensional motion from a sequence of two-dimensional images can be posed as a nonlinear filtering problem. We describe the implementation of an algorithm whose uniform observability, minimal realization and stability have been proven analytically in [5]. We discuss a scheme for handling occlusions, drift in the scale factor and tuning of the filter. We also present an extension to partially calibrated camera models and prove its observability. We report the performance of our implementation on a few long sequences of real images. More importantly, however, we have made our real-time implementation - which runs on a personal computer - available to the public for first-hand testing.</td>
                    <td class="search_item">"Pattern Anal",
                        "Rigid Motion",
                        "Motion Error",
                        "Minimal Realization",
                        "Correspondence Problem"</td>
                    <td>ECCV</td>
                    <td>2000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>





<script th:src="@{/layui/layui.js}" charset="utf-8"></script>

<script>
    layui.use('element', function(){
        var element = layui.element;
        //监听导航点击
        element.on('nav(demo)', function(elem){
            layer.msg(elem.text());
        });
    });
</script>

</body>
</html>