<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>

  <link rel="stylesheet" th:href="@{/css/echarts.css}"/>

  <script th:src="@{/layui/layui.js}"></script>

  <!--jquery引入-->
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

  <!--echarts引入-->
  <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>

</head>
<body>

<div id="content">
  <div id="selecter">
    <div class="layui-input-inline">
      <div class="layui-form-item">
        <div class="layui-inline" style="margin-left: 500px">
          <label class="layui-form-label">年份</label>
          <div class="layui-input-inline" style="width: 100px;">
            <input type="text" id="beginYear" placeholder="年" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-form-mid">-</div>
          <div class="layui-input-inline" style="width: 100px;">
            <input type="text" id="endYear" placeholder="年" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-input-inline">
            <button class="layui-btn layui-btn-warm" id="refresh-button" onclick="refresh()">查询</button>
          </div>
        </div>
      </div>
    </div>
    <div style="margin: auto;width: 30%;">
      <input class="my-radio" type="radio" name="conference" value="CVPR" checked/>CVPR
      <input class="my-radio" type="radio" name="conference" value="ECCV" />ECCV
      <input class="my-radio" type="radio" name="conference" value="ICCV"/>ICCV
    </div>
  </div>



  <div id="main" style="margin-top:50px;width: 1200px;height:400px;"></div>
</div>




<script>
  var myChart = echarts.init(document.getElementById('main'));

  myChart.showLoading();
  // 指定图表的配置项和数据
  $.post('/getTop10Keywords/',{beginYear:2000,endYear:2200,
    conference:"CVPR"},function(data)
  {
    myChart.hideLoading();
    data=JSON.parse(data);
    myChart.setOption
    ({
      title: {
        text: '热词top10'
      },
      tooltip: {},
      legend: {
        data: ['CVPR']
      },
      xAxis: {
        data: data.x,
        axisTick: {
          alignWithLabel: true
        },
        axisLabel: {
          formatter: function (value, index)
          {
            var v = value.substring(0, 6) + '...'
            return value.length > 10 ? v : value
          }
        }
      },
      yAxis: {},
      series: [
        {
          type: 'bar',
          data: data.y
        }]
    });
  });

</script>

<script th:src="@{/js/element.js}"></script>
<script>
  function refresh()
  {
    myChart.showLoading();
    $.post('/getTop10Keywords/',{beginYear:$('#beginYear').val()==''?2000:$('#beginYear').val(),
      endYear:$('#endYear').val()==''?2200:$('#endYear').val(),conference:$('input[type=radio][name=conference]:checked').val()},function(data)
    {
      myChart.hideLoading();
      data=JSON.parse(data);
      myChart.setOption
      ({
        xAxis: {
          data: data.x
        },
        series: [
          {
            type: 'bar',
            data: data.y
          }]
      });
    });
  }


  $('input[type=radio][name=conference]').change(function() {
    refresh();
  });
</script>
</body>
</html>