<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>jQCloud Example</title>
    <link rel="stylesheet" type="text/css" th:href="@{/jqcloud/jqcloud.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <script type="text/javascript" th:src="@{/jqcloud/jqcloud-1.0.4.js}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cn.vuejs.org/js/vue.js"></script>

    <!-- 引入 ECharts 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.0.2/dist/echarts.min.js"></script>
    <script type="text/javascript">
        var meeting = ""

        axios({
            method:'get',
            // url:'user/del/'+id,
            url:'/hotword/trends',
            params: {
                meeting: meeting
            },
            // responseType:'stream'
        }).then(function(response) {
            console.log(response);
            var keywords = response.data.keywords;
            var word_array = [];
            for (var i=0 ; i < keywords.length ; i++){
                word_array.push({
                    text:keywords[i].keyword,
                    weight:keywords[i].frequency,
                    link:"http://localhost:8811/?searchType=hotword&keyword="+keywords[i].keyword+"&meeting="+meeting
                })
            }
            $(function() {
                // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
                $("#example").jQCloud(word_array);
            });

        });
        /*!
         * Create an array of word objects, each representing a word in the cloud
         */

    </script>
</head>
<body>
<button class="hotTreandBtn  ui  button ">
    <a href="/" style="width: 100%;height: 100%">
        返回
    </a>
</button>
<form class=" ">

    <div class="">
        <div  id="meeting-selector" class="field">
            <label>顶会</label>
            <select v-model="meeting" class="ui fluid dropdown">
                <option value="">三大顶会</option>
                <option value="ICCV">ICCV</option>
                <option value="ECCV">ECCV</option>
                <option value="CVPR">CVPR</option>
            </select>
        </div>
    </div>

</form>


<!-- You should explicitly specify the dimensions of the container element -->
<div id="example" style="width: 550px; height: 350px;"></div>
</body>
<script>
    var meetingSelector = new Vue({
        el: "#meeting-selector",
        data:{
            meeting:meeting
        },
        methods: {
        },
        watch:{
            meeting (cur,pre){
                axios({
                    method:'get',
                    // url:'user/del/'+id,
                    url:'/hotword/trends',
                    params: {
                        meeting: cur
                    },
                    // responseType:'stream'
                }).then(function(response) {
                    console.log(response);
                    var keywords = response.data.keywords;
                    var word_array = [];
                    for (var i=0 ; i < keywords.length ; i++){
                        word_array.push({
                            text:keywords[i].keyword,
                            weight:keywords[i].frequency,
                            link:"http://localhost:8811/?searchType=hotword&keyword="+keywords[i].keyword+"&meeting="+meeting
                        })
                    }

                    $(function() {
                        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
                        $("#example").jQCloud(word_array);
                    });
                });
            }
        }
    })
</script>
</html>