.block {
    text-align: center;
    margin: 0,auto;
    height: auto;
    margin: auto;
}
.left-bar, .right-bar{
    width: 20%;
    height: 780px;
    /* background-color: aqua; */
    float: left;
}
.main-content {
    width: 60%;
    height: 780px;
    /* background-color:black; */
    float: left;
}
.top-box {
    width: 100%;
    height: 7%;
    /*background-color: blue;*/
    display: flex;
    align-items: center;
   
}
.bottom-box {
    width: 100%;
    height: 93%;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(180, 179, 179);
}
.main-panel {
    width: 98%;
    height: 93%;
    margin-left: 1%;
    margin-right: 1%;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(180, 179, 179);
}
.project-title {
    margin:auto;
    vertical-align: middle;
	text-align:center;
}
.search-box {
    width: 100%;
    height: 100%;
}
.top-bar-img{
    margin-left: 5px;
    margin-right: 5px;
}
.menu-span{
    font-family: "微软雅黑 Regular", "微软雅黑, sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: rgb(127, 127, 127);
}
#search-form {
    width: 100%;
}
#search-text {
    width: 90%;
    height: 50%;
    vertical-align: middle;
    margin-left: 3%;
    float: left;
}

