.navbar-brand {
  padding-right: 100px;
}

.main {
  margin: auto auto;
  width: auto;
  height: auto;
  text-align: center;
}

.search-title {
  font-size: 75px;
  text-align: center;
  margin-top: 10%;
}
.search-bar {
  margin-top: 50px;
}
.thesis-content {
  text-align: left;
  text-indent: 2em;
  display: inline-block;
}
.thesis-star {
  text-align: right;
  display: inline-block;
  float: right;
}
.thesis-link {
}
.thesis-select {
  width: fit-content;
}
.thesis-input {
  width: 66%;
}
.thesis-item{
  background-color:#f0efef;
  border: 1px solid #aeaeae;
}
