.block {
    text-align: center;
    margin: 0, auto;
    height: auto;
    margin: auto;
}

.left-bar,
.right-bar {
    width: 20%;
    height: 780px;
    /* background-color: aqua; */
    float: left;
}

.main-content {
    width: 60%;
    height: 780px;
    /* overflow: auto; */
    /* background-color:black; */
    float: left;
}

.top-box {
    width: 100%;
    height: 7%;
    /*background-color: blue;*/
    display: flex;
    align-items: center;

}

.bottom-box {
    width: 100%;
    height: 93%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(180, 179, 179);
}

.main-panel {
    width: 98%;
    height: 93%;
    margin-left: 1%;
    margin-right: 1%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(180, 179, 179);
    overflow: auto;
}

.main-panel::-webkit-scrollbar {
    width: 10px;
}

.main-panel::-webkit-scrollbar-track {
    background: rgb(202, 202, 202);
    border-radius: 2px;

}

.main-panel::-webkit-scrollbar-thumb {
    background: rgb(131, 126, 126);
    border-radius: 10px;
}

.main-panel::-webkit-scrollbar-thumb:hover {
    background: #333;
}

.main-panel::-webkit-scrollbar-corner {
    background: #179a16;
}

.project-title {
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.search-box {
    width: 100%;
    height: 100%;
}

.top-bar-img {
    margin-left: 5px;
    margin-right: 5px;
}

.menu-span {
    font-family: "微软雅黑 Regular", "微软雅黑, sans-serif";
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: rgb(127, 127, 127);
    float: left;
    margin-left: 10%;
}

.menu-title {
    text-align: left;
    margin-top: 20px;
    margin-left: 15%;
    font-family: "微软雅黑 Bold", "微软雅黑 Regular", "微软雅黑, sans-serif";
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: rgb(85, 85, 85);

}

.menu-item {
    margin-left: 15%;
    width: 85%;
    float: left;
    margin-top: 5%;
}

.menu-item-img {
    float: left;
}

.my-keyword {
    width: 100%;
    min-height: 18%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    display: block;
}

.right-title {
    margin-top: 20px;
    margin-left: 6%;
    font-family: "微软雅黑 Bold", "微软雅黑 Regular", "微软雅黑, sans-serif";
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: left;
}

.keyowrd-span {
    display: block;
    margin-top: 7px;
    margin-left: 6%;
    width: 94%;
    font-family: "微软雅黑 Bold", "微软雅黑 Regular", "微软雅黑, sans-serif";
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: rgb(85, 85, 85);
    text-align: left;
    /* background-color: #F2F2F2; */
    /* float: left; */
}

.my-keyword-span {
    margin-top: 15px;
    margin-left: 6%;
    font-family: "微软雅黑 Bold", "微软雅黑 Regular", "微软雅黑, sans-serif";
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: rgb(85, 85, 85);
    background-color: #F2F2F2;
    float: left;
}

#search-form {
    width: 100%;
}

#search-text {
    width: 90%;
    height: 50%;
    vertical-align: middle;
    margin-left: 3%;
    float: left;
}

.paper-list {
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    text-align: left;
    /* background-color: aqua; */
    /* border-radius: 2px; */
    border-bottom: 1px solid #efefef;
    font-size: 15px;
}

.paper-title {
    outline: 0;
    color: #06c;
    font-size: 18px;
    text-decoration: none;
}

.paper-author {
    color: #666;
    font-size: 15px;
}