<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../detail.css">
  <link rel="stylesheet" href="../base.css">
  <link rel="stylesheet" href="../nav.css">
</head>
<body>
  <%- include('./nav.html') %> 
  <div class="detail">
    <p>论文详情</p>
    <p>
      <span>标题：</span>
      <input class="title" type="text" value="<%= article.title %>">
    </p>
    <p>
      <span>链接：</span>
      <input class="link" type="text" value="<%= article.link %>">
    </p>
    <p>
      <span>峰会：</span>
      <input class="magazine" type="text" value="<%= article.magazine %>">
    </p>
    <p>
      <span>摘要：</span>
      <textarea name="" class="conclude" cols="30" rows="10"><%= article.conclude %></textarea>
    </p>
      <div class="btn-group">
        <a href="javascript:;" class="change">修改</a>
        <a href="javascript:;" class="del">删除</a>
      </div>
    
  </div>
</body>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$(function() {
  $('.change').on('click', function() {
    let searchParams =  new URLSearchParams(window.location.search)
    let id = searchParams.get('id')
    let conclude = $('.conclude').html();
    let title = $('.title').val()
    let link = $('.link').val()
    let magazine = $('.magazine').val()
    let obj = {
      id,
      conclude,
      title,
      link,
      magazine,
    }
    console.log(obj);
    $.ajax({
      type: 'POST',
      url: 'http://localhost:3000/detail/update',
      data: obj,
      success(res) {
        console.log(res);
      }
    })
  })
  $('del').on('click', function() {
    let searchParams =  new URLSearchParams(window.location.search)
    let id = searchParams.get('id')
    let obj = { id }
    $.ajax({
      type: 'POST',
      url: 'http://localhost:3000/detail/del',
      data: obj,
      success(res) {
        console.log(res);
      }
    })
  })
})
</script>
</html>