<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/detail.css">
  <link rel="stylesheet" href="../public/base.css">
</head>
<body>
  <div class="nav">
    <div class="logo">
      
    </div>
    <div class="items">
      <a class="item" href="">首页</a>
      <a class="item" href="">论文检索</a>
      <a class="item" href="">热度分析</a>
    </div>
  </div> 
  <div class="detail">
    <p>论文详情</p>
    <p>
      <span>标题：</span>
      <input type="text">
    </p>
    <p>
      <span>链接：</span>
      <input type="text">
    </p>
    <p>
      <span>关键词：</span>
      <input type="text">
    </p>
    <p>
      <span>摘要：</span>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </p>
      <div class="btn-group">
        <a href="javascript:;" class="change">修改</a>
        <a href="javascript:;" class="del">删除</a>
      </div>
    
  </div>
</body>
</html>