/*词云容器*/
.container{
    display: flex;
    flex-wrap: wrap;
}
.container .test {
    width: 100%;
    max-width: 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.test .test-container{
    position: relative;
    height: 300px;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #EBEEF5;
    background-color: white;
    transition: .3s all;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .15);
    cursor: pointer;
    overflow: hidden;
}

/*.model{*/
/*    !*width: 45%;*!*/
/*    !*height: 45%;*!*/
/*    !*float: right;*!*/
/*    !*!*box-shadow:2px 2px 5px #000;*!*!*/
/*    !*-webkit-box-shadow: #666 0px 0px 10px;*!*/
/*    !*-moz-box-shadow: #666 0px 0px 10px;*!*/
/*    !*box-shadow: #666 2px 2px 10px;*!*/
/*    !*margin:10px 30px;*!*/
/*    width: 100%;*/
/*    max-width: 50%;*/
/*    padding: 0 15px;*/
/*    margin-bottom: 30px;*/
/*}*/
/*.model-box{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    !*float: right;*!*/
/*    !*width: 300px;*!*/
/*    !*height: 87%;*!*/
/*    !*bottom: 0;*!*/
/*    !*position: absolute;*!*/
/*    !*left: 5%;*!*/

/*}*/
