.html,body{
    background:url(img/homebg.jpg);
    background-size: cover;
    background-color: #ebf6ff;
    opacity: 0.9;
    color: black;
}
.jumbotron{
    color:#fff;
    background:url(img/bg.jpg);
    background-size: cover;
    background-position-y: 60px;}
.grid-view td{white-space:inherit}
.col-md-8 {
    background-color: aliceblue;
    margin-top: 46px;
}
.list-group{
    display: initial;
    font-style: italic;
    color: blueviolet;
    margin: 50px;
    font-size: xx-large;
}
.list-group-item{
    border: none;
    opacity: 0.8;
    width: min-content;
}