/*登录框*/
.login{
    position:absolute;
    left:55%;
    top:15%;
    width:25%;
    height: 500px;
    background-color: #fffdfd;
    border-radius: 26px;
    text-align: center;
}
input[type=text], select {
    width: 60%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #686f72;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/*搜索框*/
#box{
    margin-top: 2%;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}

#box input{
	position:relative;
	left:5%;
	top:10px;
    width: 90%;
    border: 1px solid #e2e2e2;
    height: 40px;
    float: left;
    background-image: url(../����.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 40px;
}

#search{
	position:relative;
	left:5%;
	top:-15px;
    width: 25%;
    height: 40px;
    float: left;
    margin: 1% auto;
    background: #303030;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

#box select{
	position:relative;
	left:5%;
	top:-15px;
    width: 65%;
    float: left;
    margin:1% auto;
}

/*论文列表*/
 .mainPaper{
     position: absolute;
     left: 12%;
     top: 7%;
     width: 60%;
 }
.paper{
    margin: 1%;
    float: left;
    background-color: #fffdfd;
    width: 90%;
    padding: 1.5% 2.5% 2% 2.5%;
}

.deleteImage{
    position:relative;
    left:81%;
}

.editImage{
    position:relative;
    left:80%;
}

.collectImage{
    position:relative;
    left:79%;
}

/*侧边栏*/
 .sider{
     position: absolute;
     left: 71%;
     top: 19%;
     width: 18%;
 }
 
 .siders{
    margin: 1% 0 5% 0;
    float: left;
    background-color: #fffdfd;
    width: 100%;
}