/*登录框*/

.login{
    position:absolute;
    left:55%;
    top:15%;
    width:25%;
    height: 500px;
    background-color: #fffdfd;
    border-radius: 26px;
    text-align: center;
}
input[type=text], select {
    width: 60%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login #submitLogin{
    width: 80%;
    background-color: #686f72;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/*论文列表*/
 .mainPaper{
 	 margin:0 0.5% 0 10%;
     width: 60%;
     float:left;
 }
.paper{
    margin: 1%;
    float: left;
    background-color: #fffdfd;
    width: 90%;
    padding: 1.5% 2.5% 2% 2.5%;
}

/*侧边栏*/
 .sider{
     float:left;
     width: 20%;
 }
 
 .siders{
    margin:3%;
    float: left;
    background-color: #fffdfd;
    width: 90%;

}

.breadcrumb {
  padding: 1rem 1rem;
  list-style: none;
  border-radius: 0.25rem;
}

.breadcrumb::after {
  display: block;
  content: "";
  clear: both;
}

.breadcrumb-item {
  float: left;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #ffacac;
  content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #4a4a4a;
}
