/*登录框*/
body {
	width:1500px;
}
.login {
    position:absolute;
    left:950px;
    top:120px;
    width:350px;
    height: 500px;
    background-color: #fffdfd;
	border-radius: 26px;
    text-align: center;
}
input[type=text], select {
    width: 60%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 60%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submitLogin {
    width: 80%;
    background-color: #686f72;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitLogin:hover {
    background-color: #FE4365;
}

/*论文列表*/
 .mainPaper {
	margin:0 0.5% 0 10%;
	width: 60%;
	float:left;
 }
.paper {
	margin: 1%;
	float: left;
    background-color: #fffdfd;
    width: 90%;
    padding: 1.5% 2.5% 2% 2.5%;
}

/*侧边栏*/
 .sider {
	float:left;
	width: 20%;
 }
 
 .siders {
    margin:3%;
    float: left;
    background-color: #fffdfd;
    width: 90%;
}

.breadcrumb {
  	padding: 1rem 1rem;
  	list-style: none;
  	border-radius: 0.25rem;
}

.breadcrumb::after {
  	display: block;
  	content: "";
  	clear: both;
}

.breadcrumb-item {
  	float: left;
}

.breadcrumb-item + .breadcrumb-item::before {
  	display: inline-block;
  	padding-right: 0.5rem;
  	padding-left: 0.5rem;
  	color: #ffacac;
  	content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  	text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  	text-decoration: none;
}

.breadcrumb-item.active {
  	color: #4a4a4a;
}

/*收藏列表*/
 .mainPaper2 {
	margin:0 0 0 14%;
	width: 60%;
	float:left;
}
 
.collectFolder {
	background-color: white;
 	padding:3% 5% 1% 10%;
}
 
 .collectFolder:hover {
    background-color: #FFCCCC	;
    color:white;
}

.mainPaper3 {
	margin:0% auto;
	width: 70%;
}
 
#note {
 	background-color: white;
 	padding:6% 5% 4% 8%;
}
 
#note2 {
  	display:none;
 	padding:6% 5% 4% 10%;
 	background-color:#F8F8F8 ;
}

.notenote:hover #note {
	color:white;
	background-color:#FFCCCC ;
}
 
