<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Welcome to PaperSearcher</title>
</head>
<body>
    <div class="block">
        <div class="left-bar">
            <div class="top-box">
                <span class="project-title">PaperSearcher</span>
            </div>
            <div class="bottom-box">
                <div class="menu-list">
                    <div class="menu-title" style="text-align: left;">MENU</div>
                    <div id="index" class="menu-item">
                        <img src="../img/green-home.svg" alt="">
                        <span class="menu-span">首页</span>
                    </div>
                    <div id="paper-list" class="menu-item">
                        <img src="../img/blue-list.svg" alt="">
                        <span class="menu-span">论文列表</span>
                    </div>
                    <div id="paper-analyse" class="menu-item">
                        <img src="../img/red-table.svg" alt="">
                        <span class="menu-span">论文分析</span>
                    </div>
                    <div id="paper-collection" class="menu-item">
                        <img src="../img/orange-star.svg" alt="">
                        <span class="menu-span">收藏夹</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="top-box">
                <form action="" id="search-form">
                   <input type="text" name="search-text" id="search-text" placeholder="Input something here">
                   <img src="../img/gray-search.svg" alt="">
                </form>
            </div>
            <div class="main-panel"></div>
        </div>
        <div class="right-bar">
            <div class="top-box">
                <span style="height: auto;width: 40%;">
                    <img src="../img/gary-envelope.svg" alt="" class="top-bar-img" style="margin-left: 15px;">
                    <img src="../img/gary-star.svg" alt="" class="top-bar-img">
                    <img src="../img/gary-ring.svg" alt="" class="top-bar-img">
                </span>
                <span class="user_id" style="margin-left: 10px;text-decoration: underline;width: 30%;">Lddddddy</span>
                <span style="width: 30%;height: auto;">
                    <img src="../img/avatar.svg" alt="">
                </span>

            </div>
            <div class="bottom-box">

            </div>
        </div>
    </div>
</body>
</html>