.col-md-offset-4#content {
    padding-top: 5%;
}
#register {
    padding-top: 5%;
    font-size: large;
}
#index {
    padding-top: 5%;
    font-size: large;
}
.col-md-5col-md-offset-4#content {
    padding-top: 8%;
}
