textarea.conceal{
    border: none;
    resize: none;
}
textarea.short{
    width: 10%;
}
textarea.long{
    width: 60%;
}
.high{
    height: 70px;
}
.higher{
    height: 180px;
}
.interval{
    margin-left: 10%;
    margin-top: 50px;
}
.btn{
    width: 30%;
    vertical-align: middle;
    font-size: 0;
    margin: 20px auto;
}
