<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <script type="text/javascript" src="../js/axios.min.js"></script>
    <script type="text/javascript" src="../js/paperList.js"></script>
    <title>Welcome to PaperSearcher</title>
</head>
<body>
    <div class="block">
        <div class="left-bar" >
            <div class="top-box">
                <span class="project-title">PaperSearcher</span>
            </div>
            <div class="bottom-box">
                <div class="menu-list">
                    <div class="menu-title">MENU</div>
                    <div id="index" class="menu-item">
                        <img src="../img/green-home.svg" alt="" class="menu-item-img">
                        <span class="menu-span">首页</span>
                    </div>
                    <div id="paper-list" class="menu-item">
                        <img src="../img/blue-list.svg" alt="" class="menu-item-img">
                        <span class="menu-span">论文列表</span>
                    </div>
                    <div id="paper-analyse" class="menu-item">
                        <img src="../img/red-table.svg" alt="" class="menu-item-img">
                        <span class="menu-span">论文分析</span>
                    </div>
                    <div id="paper-collection" class="menu-item">
                        <img src="../img/orange-star.svg" alt="" class="menu-item-img">
                        <span class="menu-span">收藏夹</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content">
            <div class="top-box" id="search-box">
                <form action="" id="search-form">
                   <input type="text" name="search-text" id="search-text" placeholder="Input something here">
                   <img src="../img/gray-search.svg" alt="" onclick="getPaperList()">
                </form>
            </div>
            <div class="main-panel" id="main-panel">
                <div class="paper-list" id="">
                    <a href="#" class="paper-title">paperTitle</a>
                    <p class="paper-author">author1,author2,author3</p>
                    <p> 
                        <span class="paper-abstract-title">[Abstract]</span>
                        <span class="paper-abstract-detial">We present a novel and high-performance 3D object detection framework, named PointVoxel-RCNN (PV-RCNN), for accurate 3D object detection from point clouds. Our proposed method deeply integrates both 3D voxel Convolutional Neural Network (CNN) and PointNet-based set abstraction to learn more discriminative point cloud features.</span>
                    </p>
                    <p>
                        <span class="paper-keyword">[Keyword]</span>
                        <span class="paper-keyword-list">Keyword</span>
                    </p>   
                </div>
                <div class="paper-list" id="">
                    <a href="#" class="paper-title">paperTitle</a>
                    <p class="paper-author">author1,author2,author3</p>
                    <p> 
                        <span class="paper-abstract-title">[Abstract]</span>
                        <span class="paper-abstract-detial">We present a novel and high-performance 3D object detection framework, named PointVoxel-RCNN (PV-RCNN), for accurate 3D object detection from point clouds. Our proposed method deeply integrates both 3D voxel Convolutional Neural Network (CNN) and PointNet-based set abstraction to learn more discriminative point cloud features.</span>
                    </p>
                    <p>
                        <span class="paper-keyword">[Keyword]</span>
                        <span class="paper-keyword-list">Keyword</span>
                    </p>   
                </div>
                <div class="paper-list" id="">
                    <a href="#" class="paper-title">paperTitle</a>
                    <p class="paper-author">author1,author2,author3</p>
                    <p> 
                        <span class="paper-abstract-title">[Abstract]</span>
                        <span class="paper-abstract-detial">We present a novel and high-performance 3D object detection framework, named PointVoxel-RCNN (PV-RCNN), for accurate 3D object detection from point clouds. Our proposed method deeply integrates both 3D voxel Convolutional Neural Network (CNN) and PointNet-based set abstraction to learn more discriminative point cloud features.</span>
                    </p>
                    <p>
                        <span class="paper-keyword">[Keyword]</span>
                        <span class="paper-keyword-list">Keyword</span>
                    </p>   
                </div>
                <div class="paper-list" id="">
                    <a href="#" class="paper-title">paperTitle</a>
                    <p class="paper-author">author1,author2,author3</p>
                    <p> 
                        <span class="paper-abstract-title">[Abstract]</span>
                        <span class="paper-abstract-detial">We present a novel and high-performance 3D object detection framework, named PointVoxel-RCNN (PV-RCNN), for accurate 3D object detection from point clouds. Our proposed method deeply integrates both 3D voxel Convolutional Neural Network (CNN) and PointNet-based set abstraction to learn more discriminative point cloud features.</span>
                    </p>
                    <p>
                        <span class="paper-keyword">[Keyword]</span>
                        <span class="paper-keyword-list">Keyword</span>
                    </p>   
                </div>
            </div>
        </div>
        <div class="right-bar">
            <div class="top-box">
                <span style="height: auto;width: 40%;">
                    <img src="../img/gary-envelope.svg" alt="" class="top-bar-img" style="margin-left: 15px;">
                    <img src="../img/gary-star.svg" alt="" class="top-bar-img">
                    <img src="../img/gary-ring.svg" alt="" class="top-bar-img">
                </span>
                <span class="user_id" style="margin-left: 10px;text-decoration: underline;width: 30%;">Lddddddy</span>
                <span style="width: 30%;height: auto;">
                    <img src="../img/avatar.svg" alt="">
                </span>

            </div>
            <div class="bottom-box">
                <div class="my-keyword">
                    <div class="right-title">我的关键词</div>
                    <span class="my-keyword-span">GAN(2)</span>
                    <span class="my-keyword-span">Video Object Detection(2)</span>
                    <span class="my-keyword-span">NLP(2)</span>
                    <span class="my-keyword-span">Detection(2)</span>
                </div>
                <div class="hot-keys">
                    <div class="right-title">今日热词</div>
                    <span class="keyowrd-span"><a href="#">Detection(2)</a></span>
                    <span class="keyowrd-span"><a href="#">Detection(2)</a></span>
                    <span class="keyowrd-span"><a href="#">Detection(2)</a></span>
                    <span class="keyowrd-span"><a href="#">Detection(2)</a></span>
                    <span class="keyowrd-span"><a href="#">Detection(2)</a></span>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>