/*导航栏*/
a{background-color:transparent;text-decoration:none;color:inherit}
.subnav-ul{display:flex;list-style:none;height:60px;margin:0}
.metabar{position:fixed;top:0;left:0;right:0;z-index:9;background-color:#fff;height:60px;border-bottom:1px solid rgba(0,0,0,.1)}
.surface--content{padding-top:60px}
.menu-item{padding:0 10px;display:flex;align-items:center;color:rgba(0,0,0,.7)}
.menu-item a:hover{color:#4370f5}.menu-item svg{margin-left:4px;transition:.5s}
.menu-item:hover svg{transform:rotateX(180deg)}
.sub--menuWidth{display:block;-webkit-animation:a .5s;animation:a .5s}
.container{max-width:1240px;margin-left:auto;margin-right:auto}
.u-flex{display:flex;align-items:center}
.metabar__right{margin-left:auto;height:60px}
.metabar__right .avatar{border-radius:100%;padding:1px;border:1px solid #4370f5;cursor:pointer;width:30px;height:30px}
.metabarItem{margin-right:20px;cursor:pointer;height:60px}
.metabarItem.active,.metabarItem:hover{color:#4370f5}
.metabarItem.active svg,.metabarItem:hover svg{fill:#4370f5}
.metabarItem svg{margin-right:6px}

/*登录框*/
.login{
    position:absolute;
    left:55%;
    top:15%;
    width:25%;
    height: 500px;
    background-color: #fffdfd;
    border-radius: 26px;
    text-align: center;
}
input[type=text], select {
    width: 60%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #686f72;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#box{
    margin-top: 2%;
    margin-left: 14%;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}

#box input{
    width: 260px;
    border: 1px solid #e2e2e2;
    margin: 1% auto;
    height: 40px;
    float: left;
    background-image: url(搜索.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 40px;
}

#search{
    width: 70px;
    height: 40px;
    float: left;
    margin: 1% auto;
    background: #303030;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

#box select{
    width: 15%;
    float: left;
    margin:1% auto;
}

 .mainPaper{
     position: absolute;
     left: 14%;
     top: 25%;
     width: 60%;
     height: 500px;
 }
.paper{
    margin: 1%;
    float: left;
    background-color: #fffdfd;
    height: 200px;
    width: 90%;
}