<div nz-row>
    <div nz-col nzSpan="8" nzOffset="8" class="login-logo">用户登录</div>
</div>
<div nz-row>
    <div nz-col nzSpan="8" nzOffset="8" class="login-icon-div">
        <i nz-icon nzType="desktop" nzTheme="outline" class="login-icon" click-back-home></i>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="8" nzOffset="8" class="login-info-content">
        <span>论文搜索中心</span>
    </div>
</div>
<div nz-row class="login-form-content">
    <div nz-col nzSpan="16" nzOffset="4">
        <nz-input-group [nzPrefix]="userIconTemplate"  class="userinfo-form"
        [@inputTrigger]="inputState"
        (mouseenter)="toggleInputState(true)"
        (mouseleave)="toggleInputState(false)">
            <input 
            type="text" 
            nz-input 
            placeholder="请输入用户名" 
            [(ngModel)]="userForm.username" 
            nzSize="large"
            />
          </nz-input-group>
          <ng-template #userIconTemplate>
            <i nz-icon nzType="user"></i>
          </ng-template>   
    </div>

    <div nz-col nzSpan="16" nzOffset="4">
        <nz-input-group 
        [nzPrefix]="passwordIconTemplate"  
        class="userinfo-form"
        [@inputTrigger]="inputState"
        (mouseenter)="toggleInputState(true)"
        (mouseleave)="toggleInputState(false)">
            <input type="password" nz-input placeholder="请输入密码" [(ngModel)]="userForm.password" nzSize="large"/>
          </nz-input-group>
          <ng-template #passwordIconTemplate>
            <i nz-icon nzType="lock"></i>
          </ng-template>   
    </div>
</div>

<div nz-row class="added-content">
    <div nz-col nzSpan="4" nzOffset="4">
    </div>
    <div nz-col nzSpan="8" nzOffset="5">
        <span>没有账号？去<a [routerLink]="['/auth/register']">注册</a>一个</span>
    </div>
</div>

<div nz-row>
    <div nz-col nzSpan="8" nzOffset="8" class="login-info-content">
        <button 
        nz-button
        nzType="primary" 
        class="login-btn" 
        (click)="userLogin()"
        [@btnTrigger]="loginBtnState"
        (mouseenter)="toggleState(true)"
        (mouseleave)="toggleState(false)">登录</button>
    </div>
</div>

  
