
<div class="text">
  <nz-tabset nzSize="large">
    <nz-tab nzTitle="已有数据查询入口" (click)="clearData()" >
      <div class="drop">
        <div style="height: 28px;">
          <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
            {{search_by}}
            <i nz-icon nzType="down"></i>
          </button>
        </div>
        <div class="search">
        <nz-dropdown-menu #menu4="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="changeSearchBy('标题')">标题</li>
            <li nz-menu-item (click)="changeSearchBy('作者')">作者</li>
            <li nz-menu-item (click)="changeSearchBy('关键字')">关键字</li>
          </ul>
        </nz-dropdown-menu>
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
          <input type="text" nz-input placeholder="input search text" [(ngModel)]="info" />
        </nz-input-group>
        <ng-template #suffixButton>
          <button nz-button nzType="primary" nzSize="large" nzSearch (click)="ready_search()">Search</button>
        </ng-template>
      </div>
      </div>
      <div *ngIf="IssearchBy">
      <nz-list nzItemLayout="vertical">
        <nz-list-item *ngFor="let item of data;let i=index;">
          <nz-list-item-meta>
            <nz-list-item-meta-avatar [nzSrc]="item.avatar"> </nz-list-item-meta-avatar>
            <nz-list-item-meta-title>
              <a href="{{ item.address }}">{{ item.title }}</a>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description style="font-style: italic;font-weight: bolder;">
              作者<span style="margin-left: 20px;">{{ item.author }}</span>
            </nz-list-item-meta-description>
            <nz-list-item-meta-description style="font-style: italic;font-weight: bolder;">
              会议名称<span style="margin-left: 20px;">{{ item.meeting_name }}</span>
            </nz-list-item-meta-description>
            <nz-list-item-meta-description style="font-style: italic;font-weight: bolder;">
              关键词<span style="margin-left: 20px;">{{ item.keyword }}</span>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <div style="margin-left: 15px;"><div style="margin-bottom: 2px;">摘要</div>{{item.abstract}}</div>
          
          <ul nz-list-item-actions>
            <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px;"></i> 156</nz-list-item-action>
            <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px;"></i> 156</nz-list-item-action>
            <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px;"></i> 2</nz-list-item-action>
          </ul>
          <nz-list-item-extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />
          </nz-list-item-extra>
          <br />
          <span><button style="margin-left: 700px;"  nz-button [nzSize]="size" nzType="primary" (click)="star(i)">star</button>     
            <button  style="margin-left: 10px;"  nz-button [nzSize]="size" nzType="primary" (click)="delete(i)">delete</button></span>
        </nz-list-item>
        
      </nz-list>
      <nz-pagination [(nzPageIndex)]="pageSize" [nzTotal]="allPageNumber" [nzPageSize]="pageNumber"
       [nzShowSizeChanger]="false" [nzHideOnSinglePage]="true" (nzPageIndexChange)="getPageChangedData()"  class="pagination"></nz-pagination> 
    </div>
    </nz-tab>

    


    <nz-tab nzTitle="txt文件批量查询">
    <nz-select [(ngModel)]="selectedValue" [compareWith]="compareFn" (ngModelChange)="log($event)" nzAllowClear nzPlaceHolder="Choose">
      <nz-option *ngFor="let option of optionList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
    </nz-select>
    <div class="upload_click">
      <nz-upload nzAction="http://47.96.231.121/auth/upload_file"
    [nzHeaders]="{ authorization: 'authorization-text' }" 
    (nzChange)="handleFileUpload($event)"
    [nzBeforeUpload] = "onBeforeUpload"
    [nzRemove]="onRemove"
     >
     <button nz-button nzType="dashed"><i nz-icon nzType="upload"></i>上传</button>
 </nz-upload>
  </div>
      <button nz-button nzType="primary" nzSize="large" nzSearch (click)="ready_search()" class="fileSearch">Search</button>

      <nz-list nzItemLayout="vertical">
        <nz-list-item *ngFor="let item of data;let i=index;">
          <nz-list-item-meta>
            <nz-list-item-meta-avatar [nzSrc]="item.avatar"> </nz-list-item-meta-avatar>
            <nz-list-item-meta-title>
              <a href="{{ item.address }}">{{ item.title }}</a>
            </nz-list-item-meta-title>
            <nz-list-item-meta-description style="font-style: italic;font-weight: bolder;">
              作者<span style="margin-left: 20px;">{{ item.author }}</span>
            </nz-list-item-meta-description>
            <nz-list-item-meta-description style="font-style: italic;font-weight: bolder;">
              会议名称<span style="margin-left: 20px;">{{ item.meeting_name }}</span>
            </nz-list-item-meta-description>
            <nz-list-item-meta-description style="font-style: italic;font-weight: bolder;">
              关键词<span style="margin-left: 20px;">{{ item.keyword }}</span>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <div style="margin-left: 15px;"><div style="margin-bottom: 2px;">摘要</div>{{item.abstract}}</div>
          
          <ul nz-list-item-actions>
            <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px;"></i> 156</nz-list-item-action>
            <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px;"></i> 156</nz-list-item-action>
            <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px;"></i> 2</nz-list-item-action>

          </ul>
          <nz-list-item-extra>
            <img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png" />
          </nz-list-item-extra>
          <br />
          <span><button style="margin-left: 700px;"  nz-button [nzSize]="size" nzType="primary" (click)="star(i)">star</button>     
            <button  style="margin-left: 10px;"  nz-button [nzSize]="size" nzType="primary" (click)="delete(i)">delete</button></span>
        </nz-list-item> 
        
      </nz-list>
      <nz-pagination [nzShowSizeChanger]="Judge" [nzPageIndex]="pageSize" [nzTotal]="allPageNumber" [nzPageSize]="pageNumber" [nzShowSizeChanger]="false" [nzHideOnSinglePage]="true" class="pagination"></nz-pagination>    
    
    </nz-tab>
  </nz-tabset>
    

  
  
