body{
    margin:0px auto;
    width:100%;
    min-width:1200px;
    height:750px;
    background-color: #dddddd;
}
.grey
{
    margin:0px auto;
    background-color: #f6f5ec;
    width:1080px;
    height:690px;
}
.form{
    margin:auto;
}
div.left
{
    position: relative;
    margin:8px;
    width:790px;
    height:664px;
    background-color: #ffffff;
    border:2px solid #dddddd;
    float:left;
    overflow:auto;
    overflow-x: hidden;
}
div.right1
{
    margin:8px;
    width:238px;
    height:410px;
    border:3px solid #dddddd;
    background-color: #ffffff;
    float:right;
}
div.right2
{
    margin:8px;
    width:238px;
    height:230px;
    border:3px solid #dddddd;
    background-color: #ffffff;
    float:right;
}
div.center
{
    margin:0px auto;
    width:1070px;
    height:680px;
}
form.center
{
    margin:0px auto;
    width:800px;
}
#hid
{
    visibility:hidden;
}
