body{
margin:0px auto;
width:1100px;
height:750px;
border:1px solid #dddddd;
background-color: #dddddd;
}
.grey
{
background-color: #f6f5ec;
height:750px;
}
form{
margin:auto;
}
div.left
{
position: relative;
margin:8px;
width:790px;
height:664px;
background-color: #ffffff;
border:2px solid #dddddd;
float:left;
overflow: scroll;
}
div.right1
{
margin:8px;
width:240px;
height:400px;
border:1px solid #dddddd;
background-color: #ffffff;
float:right;
}
div.right2
{
margin:8px;
width:240px;
height:240px;
border:1px solid #dddddd;
background-color: #ffffff;
float:right;
}
div.center
{
margin:10px auto;
width:1070px;
height:670px;
}
div.list
{
margin:10px auto;
width:650;
background-color: #000;
}
div.item
{
border:1px solid #000;
margin:0px auto;
width:600px;
background-color: #DDD;
}
form.center
{
    margin:20px auto;
}