.body-container{
    overflow: hidden;
}

.informs{
    margin:200px auto;
    width:400px;
    border:1px solid cornflowerblue;
    padding: 20px;
    border-radius: 5px;
}
form div{
margin:10px auto;
width:500px;
border:3px solid 000;
border-radius: 5px;
}

span.key-message{
    color: #225599;
}
.big{
    font-size:40px;
    font-style: oblique;
    font-color:#000;
    font-weight: bold;
}