html,body{
    margin: 0;
    padding: 0;
}
.nav{
        height: 75px;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.logo{
    font-size: 24px;
    color: white;
    margin-left: 60px;
}
.items .item{
        color: aliceblue;
        font-size: 28px;
        line-height: 75px;
        margin: 0 20px;
    }
.btn_head_active{
    background-color: #599AEF;
    display: inline-block;
    color: #fff;
    width: 103px;
    height: 46px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 46px;
    margin: 0 30px;
}
.btn_manage_active{
    background-color: #599AEF;
    display: inline-block;
    color: #fff;
    width: 103px;
    height: 46px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 46px;
    margin: 0 30px;
}
.btn_analysis_active{
    background-color: #599AEF;
    display: inline-block;
    color: #fff;
    width: 103px;
    height: 46px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 46px;
    margin: 0 30px;
}
.btn_head{
    display: inline-block;
    color: #fff;
    width: 103px;
    height: 46px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 46px;
    margin: 0 30px;
}
.btn_manage{
    display: inline-block;
    color: #fff;
    width: 103px;
    height: 46px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 46px;
    margin: 0 30px;
}
.btn_analysis{
    display: inline-block;
    color: #fff;
    width: 103px;
    height: 46px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 46px;
    margin: 0 30px;
}
.header{
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 30px;
    color: black;
    margin-left: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text_search{
    width: 260px;
    height: 30px;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
    padding-left: 5px;
}
.btn_search{
    background-color: #599AEF;
    display: inline-block;
    color: #fff;
    width: 87px;
    height: 35px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
}
.search{
    line-height: 40px;
    margin: 0 80px 0 20px;
}
.content{
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    flex-wrap: wrap;
}
.block{
    width: 300px;
    height: 330px;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding-left: 10px;
    margin-bottom: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#block_delete{
    width: 300px;
    height: 330px;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding-left: 10px;
    margin-bottom: 30px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.line{
    width: 100%;
    height: 3px;
    background-color: #599AEF;
    margin: 10px 0 20px 0;
}
.btn_delete{
    background-color: red;
    display: inline-block;
    color: #fff;
    width: 60px;
    height: 30px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    position: relative;
    bottom: 10%;
    left: 78%;
}
#main{
    width: 800px;
    height:400px;
    margin-left: 40px;
}
.btn_word_active{
    background-color: #599AEF;
    display: inline-block;
    color: #fff;
    width: 95px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #A3D0FD;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    margin-top: 50px;
    margin-left: 60px;
}
.btn_word{
    display: inline-block;
    color: #BEBEBE;
    width: 95px;
    height: 40px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    margin-top: 50px;
    margin-left: 60px;
    border: 1px solid #A3D0FD;
}
.btn_key_active{
    background-color: #599AEF;
    display: inline-block;
    color: #fff;
    width: 95px;
    height: 40px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    border: 1px solid #A3D0FD;
}
.btn_key{
    display: inline-block;
    color: #BEBEBE;
    width: 95px;
    height: 40px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    border: 1px solid #A3D0FD;
}
.title_a{
	color:#A3D0FD;
}
.conclude{
	color: #e68c44
}
.conclude_content{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space:normal;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.keyword{
	color:#16e9fa
}
.word{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space:normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.btn_page{
	background-color: #599AEF;
    display: inline-block;
    color: #fff;
    width: 57px;
    height: 25px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
}
.page{
	width:100%;
	height:45px;
	text-align:center;
}
.box2{
    display: none;
}