<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzu.mapper.PaperMapper">


   <insert id="addPaper" parameterType="com.fzu.pojo.Paper" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
       insert into paper_search.paper(title,abstract_content,meet,`year`,link) values (#{title},#{abstractContent},#{meet},#{year},#{link})
   </insert>
    <insert id="insertAuthorWithId" >
        insert into paper_search.paper_author(paper_id,author) values (#{paperId},#{author})
    </insert>
    <insert id="insertKeywordWithId">
        insert into paper_search.paper_keyword(paper_id, keyword) values (#{paperId},#{keyword})
    </insert>
    <select id="queryPaper" resultType="com.fzu.pojo.Paper">
        select * from paper_search.paper limit #{start},#{rows}
    </select>
    <select id="queryKeywords" resultType="java.lang.String">
        select keyword from paper_search.paper_keyword where paper_id=#{paperId}
    </select>
    <select id="queryAuthors" resultType="java.lang.String">
        select author from paper_search.paper_author where paper_id=#{paperId}
    </select>
    <select id="queryPaperByKeyword" resultType="com.fzu.pojo.Paper">
        select a.id,a.title,a.abstract_content as "abstractContent",a.meet,a.year,a.link from paper a,paper_keyword b
        where b.keyword like '%${keyword}%' and a.id=b.paper_id limit #{start},#{rows}
    </select>
    <select id="queryPaperByAuthor" resultType="com.fzu.pojo.Paper">
        select a.id,a.title,a.abstract_content as "abstractContent",a.meet,a.year,a.link from paper a,paper_author b
        where b.author like '%${author}%' and a.id=b.paper_id limit #{start},#{rows}
    </select>
    <select id="queryTop10ByYear" resultType="com.fzu.pojo.Keyword">
        select keyword as name,count(*) as `count`  from(select b.keyword from paper a,paper_keyword b where
        a.id=b.paper_id and a.year=#{year} and a.meet =#{meet}) as tmp group by keyword order by count(*) desc limit 10
    </select>
</mapper>
