<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/warn.css') }}"/>
    <link rel="shortcut icon" href="{{url_for('static',filename='bitbug_favicon.ico')}}" type="image/x-icon" />
</head>
<body background="{{url_for('static', filename='1.png')}}">
{% include 'navbar.html' %}
<div class="informs" style="width:300px;background-color: #fff;">
    <form method="POST" style="width:300px;">
        <h2 style="margin:0px auto;width:300px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请注册</h2>
        <div><span>请输入用户名:</span>{{forms.username}}</div>
        <div style="width:300px;margin:0px;auto"></div>
        <div style="width:300px;margin:0px;auto;font-size:10px;color:#ff3333" >{{text1}}</div>
        <div><span>&nbsp;&nbsp;&nbsp;请输入密码:</span>{{forms.password}}</div>
        <div style="width:300px;margin:0px;auto;font-size:10px;color:#ff3333" >{{text2}}</div>
        <div><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认密码:</span>{{forms.password2}}</div>
        <div style="width:300px;margin:0px;auto;font-size:10px;color:#ff3333" >{{text3}}</div>
        <div>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            {{forms.submit}}
        </div>
    </form>
</div>
</body>
</html>