<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Basic Table</title>

    <div th:include="common :: commonheader"></div>
</head>

<body class="sticky-header">
    <section>
        <div th:replace="common :: #leftmenu"></div>

        <div class="main-content">
            <div th:replace="common :: #headermenu"></div>

            <div class="wrapper">
                我是热门领域
            </div>

        </div>

    </section>

    <div th:include="common :: #commonscript"></div>

</body>

</html>