<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="js/myJs/loginJs.js"></script>
    <link rel="stylesheet" type="text/css" href="css/myCss/loginCss.css" />
</head>
<body>
<div class="login-register">
    <div class="contain">
        <div class="big-box">
            <div class="big-contain login">
                <div class="btitle">用户登录</div>
                <form class="bform" th:action="@{/login}" method="post">
                    <span class="errTips" th:text="${msg}"></span>
                    <input type="text" placeholder="用户名" name="userName"/>
                    <input type="password" placeholder="密码" name="password"/>
                    <button type="submit" id="login" class="bbutton">登录</button>
                </form>
            </div>
            <div class="big-contain register" style="display: none">
                <div class="btitle">注册账户</div>
                <form class="bform" action="/login" method="post">
                    <span class="errTips" th:text="${msg}"></span>
                    <input type="text" placeholder="用户名" name="username"/>
                    <input type="password" placeholder="密码" name="password"/>
                </form>
                <button id="register" class="bbutton" onclick="register">注册</button>
            </div>
        </div>
        <div class="small-box">
            <div class="small-contain login">
                <div class="stitle">你好，朋友!</div>
                <p class="scontent">开始注册，和我们一起旅行</p>
                <button class="sbutton">注册</button>
            </div>
            <div class="small-contain register" style="display: none">
                <div class="stitle">欢迎回来!</div>
                <p class="scontent">与我们保持联系，请登录你的账户</p>
                <button class="sbutton">登录</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>