# Default ignored files
/workspace.xml

#过滤整个.mvn文件夹
/pairproject/.mvn/
/pairproject/logs/
/pairproject/HELP.md
/pairproject/mvnw
/pairproject/mvnw.cmd
/pairproject/pairproject.iml


#过滤所有.txt文件
*.txt

#过滤所有.class文件
*.class

#过滤所有.jar文件
*.jar

#过滤所有.exe文件
*.exe

*.log