@charset "UTF-8";
.title{
	width:100%;
	height: 30%;
}
.head{
	display: flex;
}
.head1{
	font-size: 16px;
	border: 1px solid #666;
	border-radius: 30px;
	padding: 10px 20px 10px;
	margin-left: 30px;
}
.head2{
	border: 1px solid #666;
	border-radius: 30px;
	flex: 1;
	font-size: 20px;
	display: flex;
	margin-left: 30px;
	flex-direction: row-reverse;
	align-items: center;
	margin-right: 30px;
}
.head2 a{
	margin-right: 20px;
	cursor: pointer;
}
.content{
	height: 500px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	border: 1px solid #666;
	border-radius: 30px;
	
}
.icon{ 
	list-style-type:none;
	padding: 10px;
}
.icon a{
	color: #320F0F;
	text-decoration:none;
}
.footer{
	text-align: center;
}
.contentleft{
	width: 15%;
	display: flex;
	float: left;
}
.contentright{
	width: 80%;
	float: right;
	padding: 20px;
	overflow: hidden;
}
.contentright select{
	border-color: #DCDCDC;
	border-radius: 30px;
	padding: 8px;
}
.contentright .searchInput{
	width: 40%;	
	height: 19px;
	border-color: #DCDCDC;
	border-radius: 30px;
	padding: 8px;
}
.contentright .searchBtn{
	background-color:transparent;
    border-style:none;
    color:#0080ff;
    font-size: 15px;
}
.contentright p{
	width: 65%;	
    font-size: 14px;
    float: left;
}
.contentright img{
	float:right;
}
.contentright .imgCVPR{
	width: 20%;
	padding-top: 30px;
	padding-right: 66px;
}
.contentright .imgICCV{
	width: 25%;
	padding-top: 30px;
	padding-right: 50px;
}
.contentright .imgECCV{
	width: 14%;
	padding-right:90px;
}
.titleright{
	list-style-type: none;
	padding: 10px;
	margin-left: 10px;
}