@charset "UTF-8";
.tdcontent{
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	margin: 10px 20px 10px 20px;
}
.td{
	width:25%;
}
.tableFooter{
	text-align: center;
	margin-top: 20px;
}