<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Title</title>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>测试使用bootstrap框架</title>
        <!-- 引入jQuery -->
        <script type="text/javascript" src="../../static/js/jquery-3.6.0.min.js"></script>
        <!-- 引入样式 -->
        <link href="../../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="../../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <link href="../../static/css/myEdit.css" rel="stylesheet">
    </head>

<body>
<nav class="navbar navbar-default navbar-inverse " >
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header d-flex">
            <a class="navbar-brand  " href="#">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                首页
            </a>
            <a class="navbar-brand  " href="#">
                <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                数据统计</a>
            <a class="navbar-brand  " href="#">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                导入新论文</a>
            <a class="navbar-brand  " href="#">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                论文列表管理</a>
        </div>
</nav>

<div  class='main'>
    <h1 class='search-title'><span class="glyphicon glyphicon-search" aria-hidden="true"></span>论文查询</h1>

    <div class="row search-bar">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">模糊搜索 <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">模糊查询</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">题目</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">关键词</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">文章内容</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" aria-label="...">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text navbar-right"> <a href="#" class="navbar-link">copyright@aaagx</a></p>
        </div>
    </nav>
</body>
</html>
