#wordcloudDiv {
    width: 520px;
    height: 520px;
    border-radius: 50%;
    background-color: #d5e7f3;
    opacity: 0.6;
    position: absolute;
    z-index: 999999;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
}