.main{
    position: fixed;
    z-index: 999999;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main select{
    height: 50px;
    border: 2px solid #f0f8ff;
    color: #faf9fd;
    font-size: 18px;
    background-color: #98daf1;
    border-radius: 10px 0 0 10px;
    padding-bottom: 5px;
    margin-right: 5px;
    outline: none;
}

.main input{
    width: 300px;
    height: 50px;
    border: 2px solid #f0f8ff;
    padding-left: 15px;
    border-radius: 0 10px 10px 0;
    background: #a8daf0;
    color: #ffffff;
    outline: none;
}

.main button{
    width: 35px;
    height: 35px;
    top: 0;
    right: 0;
    background: #86ddf4;
    border-radius: 50%;
    border: 2px solid #f0f8ff;
    margin-left: 10px;
    outline: none;
}
