body{
  background-color: #2F3D60;
}
p{
  margin: 0;
}

  /*滚动条 end*/

/* detail内容部分 */
.detail{
  width: 700px;
  margin: 20px auto;
}
.detail p{
  font-size: 18px;
  color: aliceblue;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.detail p:nth-child(1){
  font-size: 26px;
  padding-left: 0;
}

.detail p input{
  width: 500px;
  border: 1px solid #ccc;
  background-color: #151728;
  outline: none;
  height: 40px;
  font-size: 20px;
  color: aliceblue;
  padding: 0 10px;
}
.detail p textarea{
  width: 500px;
  height: 300px;
  background-color: #151728;
  color: aliceblue;
  border: 1px solid #ccc;
  resize: none;
  outline: none;
  padding: 2px 3px;
  font-size: 15px;
  line-height: 24px;
}
.conclude::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

.conclude::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  /* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
  background: rgba(0, 0, 0, 0.2);
}

.conclude::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  /* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
.btn-group{
  width: 500px;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 0 20px;
}
.btn-group a{
  color: aliceblue;
}
.btn-group .change{
  text-shadow: 2px 2px 10px #5AC8FA;
}
.btn-group .del{
  text-shadow: 2px 2px 10px #FF3A30;
}
  