body{
  background-color: #2F3D60;
}
p{
  margin: 0;
}
/*滚动条 start*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f8f8f8;
  }
  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background: #fff ;
  }
  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:#999;
  }
  ::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:#666;
  }
  /*滚动条 end*/

.search{
  display: flex;
  margin: 50px 0;
  justify-content: center;
}
/* 下拉框 */
.select-box {
  background-color: #151728;
  border: 1px solid transparent;
  width: 100px;
  height: 50px;
  position: relative;
}
.select-box .key{
  font-size: 20px;
  color: aliceblue;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.select-box .down{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.select-box ul{
  padding: 0;
  margin: 0;
  display: none;
}
.select-box li {
  list-style: none;
  color: aliceblue;
  display: block;
  font-size: 20px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.select-box li:hover{
  background-color: #151728;
}
/* 输入框 */
.ipt {
  width: 380px;
  border: 1px solid #151728;
  outline: none;
  background-color: #151728;
  height: 50px;
  font-size: 20px;
  color: aliceblue;
  padding: 0 10px;
}
/* 搜索按钮 */
.search-btn{
  width: 80px;
  height: 50px;
  background-color: #151728;
  position: relative;
  cursor: pointer;
}
.search-btn i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 列表 */
.list{
  width: 790px;
  margin: 0 auto;
}
.list .piece {
  height: 200px;
  border: 1px solid aliceblue;
  padding: 5px 7px;
  position: relative;
  overflow: hidden;
  margin: 30px 0;
}
.list .piece .piece-title{
  font-size: 27px;
  line-height: 38px;
  color: aliceblue;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 42px;
}
.list .piece .piece-content{
  font-size: 20px;
  color: aliceblue;
  position: relative; 
  line-height: 25px; 
  max-height: 78px;
  overflow: hidden;
  margin: 21px 0;
}
.list .piece .piece-content::after{
  content: "..."; 
  position: absolute; 
  bottom: 0; 
  right: 0; 
  padding-left: 40px;
  background: linear-gradient(to right, transparent, #2F3D60 55%);  
}
.list .piece a{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.list .piece .link {
  position: relative;
  display: inline-block;
  outline: none;
  top: 0;
  right: 0;
  color: skyblue;
  font-size: 22px;
	padding: 0 0.25em;
	font-weight: 500;
	text-decoration: underline;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.list .piece .link:hover {
	color: #d04c3f;
}
.list .piece .link::before,
.list .piece .link::after {
	position: absolute;
	top: 0;
	font-weight: 100;
	font-size: 150%;
	line-height: 1;
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.list .piece .link:hover:before {
	left: -0.1em;
	content: '[';
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.list .piece .link::after {
	right: -0.1em;
	content: ']';
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.list .piece .link:hover::before,
.list .piece .link:hover::after {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
