<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>论文查询系统</title>
    <link href="__CSS__/login_interface.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/currency.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="topNav">
        <a href="#"> </a>
        <a href="#"> 未登录</a>
    </div>
    <div class="content">
        <div class="welcomeArea">
            <p>欢迎来到论文查询系统!</p>
        </div>
        <div class="loginArea">
            <form method="post" class="form" action="{:url('admin/user/add')}">
                <label>账 号：</label>
                <input type="text" class="text" name="account" placeholder="请输入账号"><br/>
                <label>密 码：</label>
                <input type="text" class="text" name="password" placeholder="请输入密码"><br/>
                <input id="login"type="submit" class="btn" value=" 登录  ">
                <button id="register" > 注册 </button>
            </form>
        </div>
    </div>
</body>
</html>