<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>论文查询系统</title>
    <link href="__CSS__/login_interface.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/currency.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="__JS__/login_interface.js"></script>
</head>
<body>
    <div class="topNav">
        <p>论文查询系统</p>
        <a href="#"> </a>
        <a href="/PairProject/221801409&221801418/public/index/RegistrationInterface"> 注册</a>
        <a href="/PairProject/221801409&221801418/public/index/LoginInterface"> 登录</a>
    </div>
    <div class="content">
        <div class="welcomeArea">
            <p>欢迎来到论文查询系统!</p>
        </div>
        <div class="loginArea">
            <form method="post" class="form" action="/PairProject/221801409&221801418/public/index/LoginInterface/login">
                <label>账 号：</label>
                <input type="text" class="text" name="account" placeholder="请输入账号"><br/>
                <label>密 码：</label>
                <input type="text" class="text" name="password" placeholder="请输入密码"><br/>
                <input id="login"type="submit" class="btn" value=" 登录  ">
            </form>
        </div>
    </div>
</body>
</html>