<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zcx.pa.PaperShow.dao.PaperDao">
    <!--插入-->
    <insert id="insertPaper" parameterType="cn.zcx.pa.PaperShow.pojo.Paper">
        INSERT INTO paper(pid,title,abst,conference,publicationYear,link)
        VALUES(#{pid},#{title},#{abst},#{conference},#{publicationYear},#{link})
    </insert>

    <!--根据id删除-->
    <delete id="deleteById" parameterType="string">
        DELETE FROM paper WHERE pid=#{pid}
    </delete>

    <!--通过对象更新-->
    <update id="updateByObject" parameterType="cn.zcx.pa.PaperShow.pojo.Paper">
        UPDATE paper SET title=#{title},abst=#{abst},conference=#{conference},
        publicationYear=#{publicationYear},link=#{link} WHERE pid=#{pid}
    </update>

    <!--通过map更新-->
    <update id="updateByMap" parameterType="map">
        UPDATE paper
        <set>
            <if test="title !=NULL">title=#{title},</if>
            <if test="abst !=NULL">abst=#{abst},</if>
            <if test="conference !=NULL">conference=#{conference},</if>
            <if test="publicationYear !=NULL">publicationYear=#{publicationYear},</if>
            <if test="link !=NULL">link=#{link}</if>
        </set>
        WHERE pid=#{pid}
    </update>

    <!--通过id查询-->
    <select id="selectPaperById" parameterType="string" resultMap="Paper">
        SELECT p.pid,title,abst,p.conference,p.publicationYear,link,
        k.kid,keyword
        FROM paper AS p
        LEFT JOIN keyword AS k ON p.pid=k.pid
        WHERE p.pid=#{pid}
    </select>

    <!--通过map精确查询-->
    <select id="selectPapersByMap" parameterType="map" resultMap="Paper">
        SELECT p.pid,title,abst,p.conference,p.publicationYear,link,
        k.kid,keyword
        FROM paper AS p
        LEFT JOIN keyword AS k ON p.pid=k.pid
        <where>
            <!--精确查询-->
            <if test="etitle !=NULL">AND title=#{etitle}</if>
            <if test="eabst !=NULL">AND abst=#{eabst}</if>
            <if test="econference !=NULL">AND p.conference=#{econference}</if>
            <if test="ekeyword !=NULL">AND k.keyword=#{ekeyword}</if>

            <!--模糊查询-->
            <if test="vtitle !=NULL">AND title LIKE "%"#{vtitle}"%"</if>
            <if test="vabst !=NULL">AND abst LIKE "%"#{vabst}"%"</if>
            <if test="vkeyword !=NULL">AND k.keyword LIKE "%"#{vkeyword}"%"</if>

            <!--年份查询-->
            <if test="publicationYear !=NULL">AND p.publicationYear=#{publicationYear}</if>
            <if test="beginYear !=NULL">AND p.publicationYear BETWEEN #{beginYear} AND #{endYear}</if>

            <if test="link !=NULL">AND link=#{link}</if>

            <if test="vconference !=NULL">
                AND p.conference IN (
                <if test="CVPR !=NULL">"CVPR",</if>
                <if test="ECCV !=NULL">"ECCV",</if>
                <if test="CVPR !=NULL">"CVPR"</if>
                )
            </if>
        </where>
    </select>


    <!---->
    <select id="selectPapersByTest" parameterType="map" resultType="string">
        SELECT p.pid
        FROM paper AS p
        LEFT JOIN keyword AS k ON p.pid=k.pid
        <where>
            <!--精确查询-->
<!--            <if test="etitle !=NULL">AND title=#{etitle}</if>-->
<!--            <if test="eabst !=NULL">AND abst=#{eabst}</if>-->
<!--            <if test="econference !=NULL">AND p.conference=#{econference}</if>-->
<!--            <if test="ekeyword !=NULL">AND k.keyword=#{ekeyword}</if>-->

            <!--模糊查询-->
            <if test="vtitle !=NULL">AND title LIKE "%"#{vtitle}"%"</if>
<!--            <if test="vabst !=NULL">AND abst LIKE "%"#{vabst}"%"</if>-->
<!--            <if test="vkeyword !=NULL">AND k.keyword LIKE "%"#{vkeyword}"%"</if>-->

            <!--年份查询-->
<!--            <if test="publicationYear !=NULL">AND p.publicationYear=#{publicationYear}</if>-->
<!--            <if test="beginYear !=NULL">AND p.publicationYear BETWEEN #{beginYear} AND #{endYear}</if>-->

<!--            <if test="link !=NULL">AND link=#{link}</if>-->

<!--            <if test="vconference !=NULL">-->
<!--                AND p.conference IN (-->
<!--                <if test="CVPR !=NULL">"CVPR",</if>-->
<!--                <if test="ECCV !=NULL">"ECCV",</if>-->
<!--                <if test="CVPR !=NULL">"CVPR"</if>-->
<!--                )-->
<!--            </if>-->
        </where>
    </select>


    <!---->

    <!---->
    <select id="selectPapersByWord" parameterType="string" >
         SELECT p.pid
        FROM paper AS p
        LEFT JOIN keyword AS k ON p.pid=k.pid
        WHERE title LIKE '%m%'
    </select>
    <!---->





    <!--通过keyword查询论文列表-->
    <select id="selectPapersByKeyword" parameterType="string" resultMap="Paper">
        SELECT p.pid,title,abst,p.conference,p.publicationYear,link,
        k.kid,keyword
        FROM paper AS p
        LEFT JOIN keyword AS k ON p.pid=k.pid
        WHERE k.keyword=#{keyword}
    </select>

    <!--paper的映射-->
    <resultMap id="Paper" type="cn.zcx.pa.PaperShow.pojo.Paper">
        <result column="pid" property="pid"/>
        <result column="title" property="title"/>
        <result column="abst" property="abst"/>
        <result column="conference" property="conference"/>
        <result column="publicationYear" property="publicationYear"/>
        <result column="link" property="link"/>

        <!--keyword集合-->
        <collection property="keywords" ofType="string">
            <result property="keyword" column="keyword"/>
        </collection>
    </resultMap>
</mapper>

