html{
    background-color:rgb(239, 239, 239);
}
.topNav {
    overflow: hidden;
    background-image: url(/PairProject/221801409&221801418/public/static/index/img/top_background_img.png)
}
.topNav a{
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topNav p{
    float: left;
    display: block;
    color: #ffffff;
}