[v-cloak] {
    display: none;
}

#main {
    background-color: rgb(43, 41, 41);
    float: left;
    width: 1369px;
    height: 825x;
    /* border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.1ch; */
    opacity: 1;
}

.mainItem {
    width: 580px;
    height: 390px;
    float: left;
    border-style: solid;
    border-color: rgb(218, 197, 197);
    border-width: 0.1ch;
    margin: 10px 40px;
}