*{
    padding: 0;
    margin:0;   
}
body{
    width: 100%;
    background: url(../images/background.jpg) no-repeat;
    background-size: cover;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    margin: 0 auto;
}
header{
    height: 60px;
    background: rgba(255, 255, 255, 0);
}
.navigater{
    width: 80%;
    margin: 0 auto;
}
.image{
    float: left;
    width: 30px;
    margin: 13px 0;
}
.title{
    float: left;
    margin: 15px;
    color: #F14836;
}
.menu{
    float: right;
}
.nav-item{
    float: left;
    margin: 20px 30px;
    font: bolder 1.17em ;
}
.nav-href{
    color: #394044;
}
.active{
    color: #F14836;
}