main{
    width: 40%;
    margin: 0 auto;
}
.main-top{
    margin: 80px 0 10px;
}
.login-title{
    color: #F14836;
    text-align: center;
}
.main-para{
    margin:20px 0 10px;
    color:#394044;
    text-align: center;
    
}
.main-href{
    color: #385769;
    text-align: center;
}
.login-form{
    width: 80%;
    margin: 0 auto;
    background: #ff67566b;
    border: none;
    border-radius: 20px;
}
.form-item{
    display: block;
    width: 250px;
    height: 30px;
    margin: 30px auto -10px;
    border: none;
}
.form-btn{
    display: block;
    width: 250px;
    margin: 20px auto 30px;

}
.form-check{
    margin-left: 78px;
    margin-top: 10px;
}
.check-content{
    margin-left: 10px;
    color: #394044;
}