<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<div th:fragment="page_pager(number, offset, totalPages,maxButtons,floatButtons,url)"><!--定义用于被显示列表页包含-->
    <head>
        <style>
            .page-item {
                padding: 1px 5px;
                border: 1px solid #afafaf;
                margin-left: 3px
            }

            .page-item.active {
                color: red;
                border: 1px solid red;
            }
        </style>
    </head>

    <div th:if="${page.pages>0}" style="float: left" class="ml-3">
        当前第<span th:text="${page.current}"></span>页, 共<span
            th:text="${page.pages}"></span>页, 总记录数<span th:text="${page.total}"></span>
    </div>


    <!--
	number 页码。页码从1开始，如：1，2，3，4，5，...
	offset 页码偏移量。如果页码是从0开始，则偏移量为-1；如果页码从1开始，偏移量为0
	totalPages 分页后，页的总数量。
	url URL地址。形如：/c , /c?id=1, /c/b?id=1&limit=10。

	1,会自动向url中添加页码，如：/c?id=1&page=1, /c/b?id=1&limit=10&page=1
	2,当超过totalPages>maxButtons时，会显示...代替多余的按钮
	3,maxButtons>=floatButtons*2

	th:with="maxButtons=10, floatButtons=5"
	style="float: right;display:inline"class="pl-5 ml-5"
	 -->

    <div th:if="${page.pages>0}" style="float: left">
        <!-- 上一页 -->
        <a th:if="${number == 1}" th:class="page-item"><span>上一页</span></a>
        <a th:if="${number > 1}" th:href="@{${url}+${page.pre}(title=${param.title},keyword=${param.keyword},pid=${param.pid},sort=${param.sotr})}"
           th:text="上一页" th:class="page-item">
        </a>

        <!-- 首页 -->
        <a th:href="@{${url}+${1}(title=${param.title},keyword=${param.keyword},pid=${param.pid},sort=${param.sotr})}"
           th:text="1" th:class="${page.current == 1}? 'page-item active' :'page-item' "></a>

        <th:block th:if="${totalPages>2 && totalPages<=maxButtons}" th:each="i : ${#numbers.sequence(2,totalPages-1)}">
            <!--<a th:if="${number == i}" th:class="page-item active"><span th:text="${i}"></span></a>
            <a th:if="${number != i}" th:href="@{${i}}" th:text="${i}"></a>-->
            <a th:href="@{${url}+${i}(title=${param.title},keyword=${param.keyword},pid=${param.pid},sort=${param.sotr})}"
               th:text="${i}" th:class="${page.current == i}? 'page-item active' :'page-item' "></a>
        </th:block>

        <th:block th:if="${totalPages > maxButtons}">
            <th:block th:if="${(number-(floatButtons/2)) <= 2}" th:each="i : ${#numbers.sequence(2,2+floatButtons-1)}">
                <!--<a th:if="${number == i}"  class="active"><span th:text="${i}">页码</span></a>
                <a th:if="${number != i}"><a th:href="@{${i}}" th:text="${i}">页码</a></a>-->
                <a th:href="@{${url}+${i}(title=${param.title},keyword=${param.keyword},pid=${param.pid},sort=${param.sotr})}"
                   th:text="${i}" th:class="${page.current == i}? 'page-item active' :'page-item' "></a>
            </th:block>

            <!-- ... -->
            <a th:if="${(number-(floatButtons/2))>2}"><span>...</span></a>

            <th:block
                    th:if="${((number-(floatButtons/2))>2) && ((number+(floatButtons/2)-(floatButtons%2==0?1:0)) < (totalPages-1))}"
                    th:each="i : ${#numbers.sequence(number-(floatButtons/2),number+(floatButtons/2)-(floatButtons%2==0?1:0))}">
                <!-- <a th:if="${number == i}"  class="active"><span th:text="${i}">页码</span></a>
                 <a th:if="${number != i}"><a th:href="@{${i}}" th:text="${i}">页码</a></a>-->
                <a th:href="@{${url}+${i}(title=${param.title},keyword=${param.keyword},pid=${param.pid},sort=${param.sotr})}"
                   th:text="${i}" th:class="${page.current == i}? 'page-item active' :'page-item' "></a>
            </th:block>

            <!-- ... -->
            <a th:if="${(number+(floatButtons/2)-(floatButtons%2==0?1:0)) < (totalPages-1)}"><span>...</span></a>

            <th:block th:if="${(number+(floatButtons/2)-(floatButtons%2==0?1:0)) >= (totalPages-1)}"
                      th:each="i : ${#numbers.sequence(totalPages-floatButtons,totalPages-1)}">
                <!--<a th:if="${number == i}"  class="active"><span th:text="${i}">页码</span></a>
                <a th:if="${number != i}"><a th:href="@{${i}}" th:text="${i}">页码</a></a>-->
                <a th:href="@{${url}+${i}(title=${param.title},keyword=${param.keyword},pid=${param.pid},sort=${param.sotr})}"
                   th:text="${i}" th:class="${page.current == i}? 'page-item active' :'page-item' "></a>
            </th:block>
        </th:block>

        <!-- 最后一页 -->
        <!--<a th:if="${totalPages>1 && number == totalPages}" class="active"><span th:text="${totalPages}">页码</span></a>
        <a th:if="${totalPages>1 && number != totalPages}"><a th:href="@{${page.pages}}" th:text="${totalPages}">页码</a></a>
        -->
        <a th:if="${totalPages>1}" th:href="@{${url}+${page.pages}(title=${param.title},keyword=${param.keyword},pid=${param.pid},sort=${param.sotr})}"
           th:text="${page.pages}" th:class="${page.current == page.pages}? 'page-item active' :'page-item' "></a>

        <!-- 下一页 -->
        <a th:if="${number >= totalPages}" th:class="page-item"><span>下一页</span></a>
        <a th:if="${number < totalPages}" th:href="@{${url}+${page.next}(title=${param.title},keyword=${param.keyword},pid=${param.pid},sort=${param.sotr})}"
           th:text="下一页" th:class="page-item">
        </a>
    </div>


</div>
</html>
