<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爬啊爬</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/warn.css') }}"/>
    <link rel="shortcut icon" href="{{url_for('static',filename='bitbug_favicon.ico')}}" type="image/x-icon" />
</head>
<body background="{{url_for('static', filename='1.png')}}">
<div>
{% include 'navbar.html' %}
    <div class="informs" style="border:0px;width:800px;margin:200px auto 0px auto;">
        <div class="margin:10px auto;width:auto;" align="center">
        <img src="{{url_for('static', filename='快爬.png') }}" alt="爬" />
        <span class="big">快爬！    </span>
        </div>
        <form method="POST" >
            <input type="text" value="" name="text" style="margin:0px 0px 0px 82px;border:3px solid #c0c0c0;width:500px; height:40px;border-radius: 5px;font-size:20px;">
            <input type="submit" name="search" style="border:3px solid #c0c0c0;width:120px; height:50px;border-radius: 5px;font-size:25px;" value="爬一下!">
        </form>
    </div>
    <div style="width=300px">
    </div>
</div>
</body>
</html>
