<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>来看我们爬</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/center.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/test.css') }}" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/warn.css') }}"/>
    <link rel="shortcut icon" href="{{url_for('static',filename='bitbug_favicon.ico')}}" type="image/x-icon"/>
</head>
<body background="{{url_for('static', filename='1.png')}}">
{% include 'navbar.html' %}
<div class="grey" align="center" style="height:690px;padding-top:15px;">
    <div style="position: relative;margin:0px 15px;background-color:#fff;border:3px solid #DDD;" >
        <div class="informs" style="margin:50px;width:500px;height:220px;background-color: #fff;" align="left">
            <img src="{{url_for('static',filename='pzy.jpg')}}" alt="user" style="float:left;margin:0px 40px 0px 0px;">
            <p class="border">爬取者一号:潘增滢</p>
            <p class="border">学号:221801405</p>
            <p class="border">联系方式:暂无</p>
            <p class="border">情感状况:单身</p>
            <p class="border">个人介绍:两只老虎，两只老虎。爱爬树，爱爬树。一只爬的很快，一只爬的很慢。还要爬！还要爬！爬呀爬，爬呀爬，爬到外婆桥桥。外婆有眼花，二四六七八。小红帽乖乖，把门开开，给老虎进来，开始爬楼。爬呀爬，爬呀爬，爬到了二楼，楼上有论文，开始爬论文。爬呀爬，爬呀爬，不吃不喝也得爬，双眼发昏也得爬。爬呀爬，爬呀爬...</p>
        </div>
        <div class="informs" style="margin:50px;width:500px;height:220px;background-color: #fff;" align="left">
            <img src="{{url_for('static',filename='lxj.jpg')}}" alt="user" style="float:left;margin:0px 40px 0px 0px;">
            <p class="border">爬取者二号:刘晓君</p>
            <p class="border">学号:221801412</p>
            <p class="border">联系方式:暂无</p>
            <p class="border">情感状况:单身</p>
            <p class="border">个人介绍:两只老虎，两只老虎。爱爬树，爱爬树。一只爬的很快，一只爬的很慢。还要爬！还要爬！爬呀爬，爬呀爬，爬到外婆桥桥。外婆有眼花，二四六七八。小红帽乖乖，把门开开，给老虎进来，开始爬楼。爬呀爬，爬呀爬，爬到了二楼，楼上有论文，开始爬论文。爬呀爬，爬呀爬，不吃不喝也得爬，双眼发昏也得爬。爬呀爬，爬呀爬...</p>
        </div>
    </div>
</div>
</body>
</html>