<div style="width: auto;height: auto;background-color: aliceblue;">
<div id="echarts1" style="width: 600px;height:300px;margin-left: 25%;margin-right: 25%;"></div>
<div id="echarts2" style="width: 600px;height:300px;margin-left: 25%;margin-right: 25%;margin-top: 6%;"></div>
<div id="echarts3" style="width: 600px;height:600px;margin-left: 25%;margin-right: 25%;margin-top: 6%;"></div>
<div id="echarts4" style="width: 600px;height:600px;margin-left: 25%;margin-right: 25%;margin-top: 6%;"></div>
</div>

